/**
 * Brandmarks
 * ============================================ */

.brandmark {
  @include set-size(30px, 30px);
  display: inline-block;
  text-align: center;
  i {
    font-size: 34px;
    line-height: 30px;
  }
}