/**
 * Brandmarks
 * ============================================ */

.brandmark {
  @include set-size(30px, 30px);
  display: inline-block;
  text-align: center;
  i {
    display: inline-block;
    font-size: 34px;
    line-height: 30px;
  }
}

a.brandmark {
  color: #FA8F00;
}