/**
 * Button List
 * ============================================ */

.buttonlist {
  @include mask-v(200px);
  max-height: 200px;
  overflow-y: scroll;
  margin-top: $space-s * -1;
  padding: $space-s;
}

.buttonlist__item {
  @extend .sec-button;
  border-color: $flare-weak;
  display: block;
  margin-bottom: $space-x;
  &:last-child {
    margin: 0;
  }
}

.buttonlist__item + .buttonlist__form {
  margin-top: $space-s;
}

.buttonlist__form {
  display: block;
  label,
  input {
    @include set-type-small;
    background-color: transparent;
  }
  label {
    color: $flare-medium;
    font-weight: $font-bold;
    padding: 0;
  }
  input {
    padding: $space-x 0;
    border-bottom: 1px solid $flare-medium;
    @include truncate;
    @include placeholder {
      color: $flare-medium;
    }
    text-align: left;
  }
}