/**
 * Buttons
 * ============================================ */

.button {
  display: inline-block;
}

.pri-button {
  @include set-type-small;
  display: inline-block;
  font-weight: bold;
  border-width: 2px;
  padding: $space $space-s;
}

.sec-button {
  border-width: 1px;
  padding: $space-x;
  display: inline-block;
}