/**
 * Buttons
 * ============================================ */

%button {
  display: inline-block;
  text-align: center;
  padding: $space;
}

.pri-button {
  @extend %button;
  @include fill-red;
}

.sec-button {

}