/**
 * Flags
 * ============================================ */

.flag {
  border-color: $flare-light;
  border-radius: $radius-s;
  border-width: 1px;
  display: inline-block;
  font-size: $font-xxs;
  padding-left: $space-x;
  padding-right: $space-x;
}