/**
 * Fold Cards
 * ============================================ */

.foldcard {
  background-size: cover;
  background-position: center center;
  position: relative;
}

.foldcard__el {
  @include position-top-left(inherit, $space);
  @include position-top-right(inherit, $space);
}