/**
 * Fold Cards
 * ============================================ */

.foldcard {
  @include clearfix;
  @include fill-inverted;
  background-color: $mono-Wt;
  background-size: cover;
  background-position: center center;
  color: $mono-Wt;
  min-height: 400px;
  position: relative;
  width: 100%;
  a {
    color: $mono-Wt;
  }
  @include breakpoint(m) {
    min-height: 600px;
  }
  @include breakpoint(l) {
    min-height: 700px;
  }
}

.foldcard__content {
  @include position-top-left(0,0);
  @include position-bottom-right(0,0);
  padding: $page-head-height $space-s;
  * {
    position: relative;
    z-index: 10;
  }
  &:before {
    @include position-top-left(0,0);
    @include position-bottom-right(0,0);
    background: $shadow-medium;
    content: "";
    display: block;
    z-index: 5;
  }
}

.foldcard__head {
  @include clearfix;
  height: $page-head-height;
  opacity: $opacity;
  text-align: center;
  position: relative;
  > * {
    @include position-bottom-left(0,0);
    @include position-bottom-right(0,0);
  }
  @include breakpoint(m) {
    height: $page-head-height + $space-h;
  }
  @include breakpoint(l) {
    height: $page-head-height + ($space-h * 2);
  }
}
.foldcard__body {
  position: relative;
}
.foldcard__foot {
  @include position-bottom-left($page-head-height, $space-s);
  @include position-bottom-right($page-head-height, $space-s);
}
.foldcard__multiple {
  &.multiple--vertical {
    display: none;
    @include breakpoint(m) {
      display: block;
    }
    .multiple__item {
      border-color: $flare-light;
      color: $flare-strong;
    }
  }
  &.multiple--horizontal {
    .multiple__item {
      border-radius: 0;
      padding: $space-s 0 $space-m 0;
      margin: 0 $space-x;
      color: $flare-strong;
      a {
        border-color: $flare-medium;
        border-width: 0 0 1px;
      }
    }
    @include breakpoint(m) {
      display: none;
    }
  }
}