/**
 * Heading Groups
 * ============================================ */

.hgroup,
.hgroup > * {
  text-align: center;
}

.hgroup__title {
  @include set-type-huge;
  text-transform: uppercase;
  font-weight: $font-bold;
  &:after {
    border-top: 1px $flare-weak solid;
    margin: $space-x auto;
    padding-bottom: $space-x;
    content: "";
    display: block;
    width: $space-l;
  }
  @include breakpoint(m) {
    &:after {
      margin: $space-m auto;
      padding-bottom: $space-m;
    }
  }
}

.hgroup__subtitle {
  @include set-type-xsmall;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: none;
  opacity: $opacity;
  @include breakpoint(m) {
    @include set-type-large;
    display: block;
    letter-spacing: 0;
    font-weight: $font-bold;
    opacity: 1;
    text-transform: none;
  }
}

.hgroup__title + * {
  padding-top: $space-x;
}

.hgroup__text {
  @include set-type-medium;
  @include breakpoint(m) {
    margin-top: $space-m;
  }
}

.hgroup__text.masked {
  @include set-size(auto,75px);
  @include mask-v(72px);
  overflow: scroll;
}