/**
 * Heading Groups
 * ============================================ */

.hgroup,
.hgroup > * {
  text-align: center;
}

.hgroup__title {
  @include set-type-huge;
  text-transform: uppercase;
  font-weight: $font-bold;
  &:after {
    border-top: 1px $flare-weak solid;
    margin: $space-x auto;
    padding-bottom: $space-x;
    content: "";
    display: block;
    width: $space-l;
  }
  @include breakpoint(m) {
    &:after {
      margin: $space-m auto;
      padding-bottom: $space-m;
    }
  }
}

.hgroup__subtitle {
  @include set-type-small;
  display: none;
  @include breakpoint(m) {
    display: block;
  }
}

.hgroup__title + * {
  padding-top: $space-x;
}

.hgroup__text {
  @include set-type-medium;
  @include breakpoint(m) {
    margin-top: $space-m;
  }
}