/**
 * Inputs
 * ============================================ */

.text-input {
  @include appearance(none);
  @include set-type-small;
  border-width: 0;
  box-shadow: none;
  cursor: text;
  display: block;
  font-family: $font;
  padding: $space;
  text-indent: 0;
  width: 100%;
}