/**
 * Inputs
 * ============================================ */

.text-input {
  @include appearance(none);
  @include box-sizing(border-box);
  @include set-type-medium;
  border: none;
  box-shadow: none;
  cursor: text;
  display: block;
  font-family: $font;
  padding: $space-x;
  text-indent: 0;
  width: 100%;
}