/**
 * Links
 * ============================================ */

%secondary-link {
  display: inline-block;
  border-bottom-width: 1px;
}

a {
  @include reset-tap;
  color: $link-color;
  cursor: pointer;
  text-decoration: none;
}
