/**
 * Menus
 * ============================================ */

.menu {
}

.menu__heading {
  font-weight: bold;
  line-height: 50px;
}

.menu__list {
  display: block;
}

.menu__list-item {
  display: block;
}

.menu__link {
  @include set-type-small;
  @include truncate;
  border-bottom: 1px solid $shadow-light;
  display: block;
  padding: $space-s;
  position: relative;
}

.menu__link-pointer {
  .menu__link & {
    @include position-top-right(50%, $space-s);
    line-height: $line;
    margin-top: $line * -0.3;
  }
}

.menu__link-back {
  @include position-bottom-left(0,0, fixed);
  background: $mono-Lt;
  height: 100%;
  box-shadow: inset -1px 0 2px $shadow-light;
  display: block;
  padding: $space-m $space-s;
  width: $space-h;
}

/* Menu Levels
----------------------------------------------- */

.menu__pane--lvl-0,
.menu__pane--lvl-1 {
  @include transform(translate3d(0, 0, 0) scale(1,1));
  @include position-top-left(0,0, fixed);
  box-shadow: -1px 0 2px $shadow-weak;
  height: 100%;
  width: 100%;
  &.moved--right {
    @include transform(translate($side-width + $space-h) scale(0.98,0.98));
  }
  &.moved--left {
    @include transform-origin(left);
    @include transform(scale(0.98,0.98) translate3d($space-s, 0, 0));
  }
}

.menu__pane--lvl-0 {
  @include transition(transform $time);
  background: $mono-Lt;
  z-index: 5;
}
.menu__pane--lvl-1 {
  @include transition(transform $time $delay);
  background: $mono-HL;
  overflow-y: auto;
  padding-left: $space-h;
  z-index: 10;
}