/**
 * Buttongroups
 * ============================================ */

.multiple--vertical {
  @include mask-v(100px);
  max-height: 100px;
  overflow-x: visible;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding-top: $space-s;
  padding-bottom: $space-s;
  margin-top: $space-s * -1;
  margin-bottom: $space-s * -1;
  position: relative;
  // top: $space-x * -1;
  .multiple__item {
    @extend .sec-button;
    border-color: $flare-weak;
    display: block;
    margin-bottom: 3px;
    margin-right: 1px;
  }
  @include breakpoint(m) {
    @include mask-v(200px);
    max-height: 200px;
  }
}

.multiple--horizontal {
  @include box-sizing(content-box);
  @include mask-h(100%);
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0 $space-s;
  margin-right: $space-s * -1;
  margin-left: $space-s * -1;
  position: relative;
  text-align: center;
  white-space: nowrap;
  .multiple__item {
    @include set-type-small;
    border-radius: $radius-s;
    display: inline-block;
    padding: $space-x;
    &.multiple__item--active {
      @include fill-red;
    }
  }
}