/**
 * Buttongroups
 * ============================================ */

.multiple--vertical {
  @include mask-v(100px);
  max-height: 100px;
  overflow-x: visible;
  overflow-y: scroll;
  padding-top: $space-x;
  padding-bottom: $space-x;
  position: relative;
  .multiple__item {
    @extend .sec-button;
    border-color: $flare-weak;
    display: block;
    margin-bottom: 3px;
  }
  @include breakpoint(m) {
    @include mask-v(200px);
    max-height: 200px;
  }
}

.multiple--horizontal {
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  overflow: auto;
  position: relative;
  text-align: center;
  .multiple__item {
    @extend %button;
    @extend .sec-button;
    border-color: $mono-HL;
    border-radius: $radius-s;
    margin-right: 1px;
    color: $mono-M;
    &.buttongroup__item--active {
      @include fill-red;
    }
  }
}