/**
 * Pagers
 * ============================================ */

.panel {
  @include backface-visibility(hidden);
  @include position-bottom-left(0,0, fixed);
  @include position-bottom-right(0,0, fixed);
  @include transition(transform $time);
  @include transform(translate3d(0,100%,0));
  box-shadow: 0 -1px 5px $shadow-weak;
  background-color: rgba(255,255,255,0.95);
  z-index: 500;
  &.panel--active {
    @include transform(translate3d(0,0,0));
  }
}

.panel__head,
.panel__body,
.panel__foot {
  padding: $space-x;
}
.panel__head {
  border-color: $shadow-light;
  border-bottom-width: 1px;
}
.panel__body {
  @extend %well;
  border-color: $shadow-light;
  border-bottom-width: 1px;
  padding-bottom: $space-s;
  padding-top: $space-s;
}
.panel__foot {
  background: $mono-Wt;
}

.panel__title {
  @include set-type-medium;
  font-weight: $font-bold;
  padding: $space-x 0;
  text-align: center;
  text-transform: uppercase;
}
.panel__subtitle {
  color: $shadow-medium;
  font-weight: $font-bold;
  margin-bottom: $space-x;
  text-align: center;
}
.panel__subtitle--alt {
  color: $shadow-medium;
  margin-bottom: $space-x;
  text-align: center;
}
.panel__action--sec {
  @include position-top-right($space, $space);
  font-weight: $font-bold;
}
.panel__action--pri {
  @extend .pri-button;
  display: block;
  padding-left: $space-x;
  line-height: $space-m;
  text-align: center;
}