/**
 * Pagers
 * ============================================ */

.panel {
  @include backface-visibility(hidden);
  @include position-bottom-left(0,0, fixed);
  @include position-bottom-right(0,0, fixed);
  @include transition(transform $time);
  @include transform(translate3d(0,100%,0));
  box-shadow: 0 -1px 5px $shadow-weak;
  background-color: rgba(255,255,255,0.95);;
  padding-bottom: $space;
  padding-top: $space;
  z-index: 500;
  &.panel--active {
    @include transform(translate3d(0,0,0));
  }
}
.panel__title {
  @include set-type-medium;
  border-color: $shadow-light;
  border-bottom-width: 1px;
  font-weight: $font-bold;
  margin-bottom: $space;
  padding-bottom: $space;
  text-align: center;
}
.panel__body {
}
.panel__subtitle {
  color: $shadow-medium;
  font-weight: $font-bold;
  margin-bottom: $space;
  text-align: center;
}
.panel__action--sec {
  @include position-top-right($space, $space);
  font-weight: $font-bold;
}
.panel__action--pri {
  @extend .pri-button;
  display: block;
  text-align: center;
}