/**
 * Separators
 * ============================================ */

.separator {
  border-style: solid;
  border-width: 0 0 1px 0;
  margin: $space-l 0;
  @include breakpoint(m) {
    margin: $space-h 0;
  }
  &.separator--compact {
    border-style: solid;
    margin: $space-m auto;
    width: $space-m;
    @include breakpoint(m) {
      width: $space-l;
      margin: ($space-m + $space-s) auto;
    }
  }
  &.separator--silent {
    border-color: transparent;
    margin: $space-l 0;
    @include breakpoint(m) {
      margin: $space-l 0;
    }
  }
  .page-fold & {
    opacity: $opacity
  }
}