/**
 * Separators
 * ============================================ */

%separator {
  border-width: 0 0 1px 0;
  margin: $space-h auto;
  @include breakpoint(m) {
    margin: $space-h auto;
  }
  .page-fold & {
    opacity: $opacity
  }
}

.separator--compact {
  @extend %separator;
  width: $space-m;
  @include breakpoint(m) {
    width: $space-l;
  }
}
.separator--weak {
  @extend %separator;
  border-color: $shadow-light;
}
.separator--silent {
  @extend %separator;
  border-color: transparent;
  margin: $space-l 0;
  @include breakpoint(m) {
    margin: $space-l 0;
  }
}