/**
 * Take Aways
 * ============================================ */

.page-copy + .take-away {
  margin-top: $line;
}
.take-away {
  background-size: cover;
  background-position: center center;
  margin-left: $space-s;
  margin-right: $space-s;
  text-align: center;
  @include breakpoint(m) {
    margin-left: 0;
    margin-right: 0;
  }
}
.take-away__el {
  background-color: $shadow-medium;
  color: $mono-Wt;
  border-width: 1px;
  padding: $space-h $space-m;
}

.take-away__title {
  @include set-type-medium;
  font-weight: $font-bold;
}

.take-away__action {
  margin-top: $space;
}