/**
 * Take Aways
 * ============================================ */

.page-copy + .take-away {
  margin-top: $line;
}
.take-away {
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.take-away__el {
  @include fill-inverted;
  border-width: 1px;
  padding: $space-h;;
}

.take-away__title {
  @include set-type-xsmall;
  // margin: $space-h;
}

.take-away__action {
  display: block;
  margin-top: $space;
}