/**
 * Tiles
 * ============================================ */

.tile {
  display: block;
  overflow: hidden;
  position: relative;
}

.tile__body {

}

.tile__thumbnail {
  width: 31%;
}

.tile__body {
  @include breakpoint(m) {
    padding-left: $space-s;
  }
}

.tile__transcript {
  @include set-type-xsmall;
  @include hyphenate;
  // color: $color;
}

.tile__title {
  @include set-type-tiny;
  @include truncate;
  color: $mono-LLt;
  margin-top: $space-x;
  a {
    @extend %secondary-link;
    color: $mono-LLt;
    padding-bottom: 1px;
    border-color: $mono-HL;
  }
  @include breakpoint(l) {
    margin-top: $space-s;
  }
}

/* ********** DIRECTION DECLARATIONS ********** */

@if $direction == "ltr" {
  .tile__thumbnail {
    float: left;
  }
  .tile__body {
    margin-left: 31%;
    padding-left: $space-x;
  }
}
@if $direction == "rtl" {
  .tile__thumbnail {
    float: right;
  }
  .tile__body {
    margin-right: 31%;
    padding-right: $space-x;
  }
}
