/**
 * Toolbars
 * ============================================ */

$toolbar-size        : 40px;

.toolbar {
  @include fill-default;
  line-height: $toolbar-size;
  border-bottom-width: 1px;
  position: relative;
}
.toolbar__input {
  margin-right: $toolbar-size;
}
.toolbar__toggle {
  @include position-top-right(0,0);
  width: $toolbar-size;
  text-align: right;
  display: inline-block;
  padding-right: $space-s;
}