/*
  ===============================================
  # CONFIG
  ===============================================
*/

$icon-font            : 'hyperaudio-player';


$HAP-header-height        : $page-head-height;
// $tap-size             : 32px;
$icon-size            : 20px;

$player-height        : $tap-size;
$player-progress-color: $red-LD;

$transcript-padding   : $space-s;

$HAP-side-width       : 200px;