/**
 * Hyperaudio Pad
 * ============================================ */

.HAP--pad {

  .HAP-sidebar {
    @include position-top-left(0,0,fixed);
    width: $HAP-side-width;
    height: 100%;
    overflow: auto;
  }
  .HAP--core {
    padding-left: $HAP-side-width;
    display: block;
    width: 100%;
    height: 100%;
  }

  .HAP-transcript--source {
    border-right: 1px solid $shadow-light;
  }
  .HAP-transcript--output {
    @extend %well;
  }
}

.tabbar li.selected {
  background: #656565 !important;
  color: #fff;
}

.tabbar li:hover {
  background: #505050;
  color: #fff;
}

.tabbar span:before {
  margin-right: 5px;
}


#output-transcript .item.edit {
  border: 2px dashed #c00;
  background: #fff;
  box-shadow: none;
}


#output-transcript .placeholder {
  background: #eee;
  height: 2em;
}


/* CSS for the clipboard stuff */
#clipboard-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
  z-index: 100;
  opacity: 0;
}
#clipboard {
  width: 1px;
  height: 1px;
  padding: 0px;
}