.HAP {
  background-color: $mono-Wt;
  position: relative;
  @include set-size(100%,100%);
  .HAP-output {
    @include position-top-left(0,0);
    @include set-size(100%,100%);
    line-height: 0;
    overflow: hidden;
  }
  .HAP-canvas {
    @include position-top-left(0,0);
    @include set-size(100%,50%);
  }
  .HAP-transcript {
    @include position-top-left(50%,0);
    @include set-size(100%,50%);
  }
}

.HAP .group,
.HAP .group > div {
  height: 100%;
}

.HAP--pad {
  .HAP-canvas {
    @include set-size(100%,40%);
  }
  .HAP-transcript {
    @include position-top-left(40%,0);
    @include set-size(100%,60%);
  }
}