# Node modules
node_modules/

# Bower components
bower_components/

# Compiled styles and scripts
dev/scripts
dev/styles
dev/fonts/hyperaudio-player
dev/fonts/hyperaudio

# Other Stuff
_todo.md
_icons.md
