# Node modules
node_modules/

# Bower components
bower_components/

# Compiled styles and scripts
mobile/scripts
mobile/styles
mobile/fonts/hyperaudio-player
mobile/fonts/hyperaudio

# Other Stuff
_todo.md
_icons.md

sftp-config.json
