/**
 * Fold Swipers
 * ============================================ */

.foldswiper,
.foldswiper__wrapper,
.foldswiper__item {
  direction: ltr;
  height: 100%;
}

.foldswiper {
  @include backface-visibility(hidden);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 1; // Fix of Webkit flickering
}
.foldswiper__wrapper {
  @include box-sizing(content-box);
  @include transition(translate ease $time, left ease $time);
  @include transform(translate3d(0,0,0));
  position: relative;
  width: 100%;
}
.swiper-free-mode > .foldswiper__wrapper {
  @include transition-timing-function(ease-out);
  margin: 0 auto;
}
.foldswiper__item {
  @include box-sizing(content-box);
  background-size: cover;
  background-position: center center;
  float: left;
  position: relative;
  &.home-cover__item--remixes {
    .foldcard__content:before {
      background: rgba(#841713,0.9);
    }
  }
  &.home-cover__item--search {
    .foldcard__content:before {
      background: rgba(#208e4f,0.9);
    }
  }
}
.foldswiper__foot {
  @include position-bottom-left($space-x,$space-s);
  @include position-bottom-right($space-x,$space-s);
  display: block;
  input {
    background-color: $flare-medium;
    &:focus {
      background-color: $mono-Wt;
    }
  }
}
.foldswiper__pager {
  margin-top: $space-s;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

.foldswiper__skipper {
  display: none;
  @include breakpoint(l) {
    border-radius: $radius-s;
    @include set-size(40px,40px);
    background: $shadow-medium;
    line-height: 40px;
    text-align: center;
    margin-top: -20px;
    top: 50%;
    display: block;
    position: absolute;
    z-index: 55;
    i {
      font-size: 40px;
    }
    &.foldswiper__skipper--prev { left: $space; }
    &.foldswiper__skipper--next { right: $space; }
  }
}

/* ********** DIRECTION DECLARATIONS ********** */

@if $direction == "ltr" {
}
@if $direction == "rtl" {
  .foldswiper__item {
    direction: rtl;
  }
}