/**
 * Page footer
 * ============================================ */

.footer {
  background: $shadow-light; // STYlE
  border-top-width: 1px;
  border-top-style: solid;
  padding: $space-x $space-s;
  text-align: center;
}