/**
 * Menus
 * ============================================ */

$menu-back-offset : $tap-size;

.menu-reset {
  background-color: $mono-LD;
  color: $flare-medium;
  height: 100%;
  display: block;
  width: $menu-back-offset;
  text-align: center;
  z-index: 15;
}
.menu {
  color: $flare-medium;
}
.menu__pane {
  @include set-size(100%,100%);
  background-color: $mono-D;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.menu__subtitle {
  color: $mono-M;
  font-weight: $font-regular;
  margin-top: $space-s;
  padding: $space;
  text-transform: uppercase;
}
.menu__body {
}
.menu__list {
  @include clearfix;
  display: block;
}
.menu__item {
  border-bottom-width: 1px;
  border-color: $flare;
  display: block;
  position: relative;
}
.menu__search {
  background: $flare-medium;
  &:active,
  &:focus {
    background: $mono-Wt;
  }
}
.menu__link,
.menu__link--alt {
  @include truncate;
  color: $flare-medium;
  display: block;
  line-height: $space-l;
  position: relative;
  &.menu__link {
    padding: $space $space-s;
  }
  &.menu__link--alt {
    border-width: 1px;
    border-color: $flare;
    margin: 0 $space-s $space;
    line-height: $tap-size;
    i {
      background-color: $flare;
      float: left;
      width: $tap-size;
      height: $tap-size;
      line-height: $tap-size;
      text-align: center;
    }
  }
}
.menu__supplement-toggle {
  display: block;
  font-size: $font-xxs;
  line-height: $space-l;
  text-transform: uppercase;
}
.menu__supplement {
  @include set-type-xsmall;
  border-top: 1px solid $flare-light;
  padding-top: $space;
}
.menu__link-icon {
  @include set-size($space-l, $space-l);
  line-height: $space-l;
  margin-top: $space-l * -0.5;
  text-align: center;
}
.menu__foot {
  line-height: 15px;
  padding-left: $space-x;
  padding-right: $space-s;
  &, a {
    color: $mono-M;
    vertical-align: middle;
  }
}
@include stick-footer(50px, ".menu__body", ".menu__push", ".menu__foot");

/* Animation & Layout Properties
----------------------------------------------- */

.menu__pane {
  @include transition(transform $time, opacity $time);
  @include transform(translate3d(0, 0, 0));
  @include position-top-left(0,0, fixed);
  opacity: 1;
  &.moved--right {
    @include transform(translate($side-width + $space-h));
  }
  &.moved--left {
    @include transform-origin(left);
    @include transform(translate3d(($side-width - $menu-back-offset) * -1, 0, 0));
    opacity: 0;
  }
  .moved--left,
  .moved--right {
    visibility:hidden;
  }
}

.menu-reset {
  @include transition(transform $time, opacity $time);
  @include transform(translate3d(translate3d(0, 0, 0), 0, 0));
  &.moved {
    @include transform(translate3d($menu-back-offset * -1, 0, 0));
    border-right-color: transparent;
    opacity: 0;
  }
}

#menu__pane--root {
  z-index: 5;
}
#menu__pane--documentaries,
#menu__pane--themes,
#menu__pane--maps,
#menu__pane--characters,
#menu__pane--places,
#menu__pane--eras,
#menu__pane--remixes,
#menu__pane--quizzes {
  @include transition(transform $time);
  z-index: 10;
  width: $side-width - $menu-back-offset;
}

/* ********** DIRECTION DECLARATIONS ********** */

@if $direction == "ltr" {
  .menu-reset {
    @include position-top-left(0,0, fixed);
    @include transform(translate3d(translate3d(0, 0, 0), 0, 0));
    &.moved {
      @include transform(translate3d($menu-back-offset * -1, 0, 0));
    }
  }
  #menu__pane--documentaries,
  #menu__pane--themes,
  #menu__pane--maps,
  #menu__pane--quizzes {
    @include position-top-left(0,$menu-back-offset, fixed);
  }
  .menu__supplement-toggle {
    @include position-top-right(0,0);
    padding: $space $space-s;
    .flag {
      margin-left: $space-x;
    }
  }
  .menu__supplement {
    margin: 0 $space-s $space;
  }
  .menu__link-icon {
    @include position-top-right(50%, $space-x);
  }
  .menu__link--alt.menu__link--alt {
    padding-right: $space-x;
    i {
      float: left;
      margin-right: $space;
    }
  }
  .menu__foot .brandmark {
    float: left;
    margin-right: $space-x;
  }
}
@if $direction == "rtl" {
  .menu-reset {
    @include position-top-right(0,0, fixed);
    @include transform(translate3d(translate3d(0, 0, 0), 0, 0));
    &.moved {
      @include transform(translate3d($menu-back-offset, 0, 0));
    }
  }
  #menu__pane--documentaries,
  #menu__pane--themes,
  #menu__pane--maps,
  #menu__pane--quizzes {
    @include position-top-right(0,$menu-back-offset, fixed);
  }
  .menu__supplement-toggle {
    @include position-top-left(0,0);
    padding: $space $space-s;
    .flag {
      margin-right: $space-x;
    }
  }
  .menu__supplement {
    margin: 0 $space-s $space;
  }
  .menu__link-icon {
    @include position-top-left(50%, $space-x);
    .icon-point-right:before { content: "\f109"; }
    .icon-point-left:before { content: "\f10b"; }
  }
  .menu__link--alt.menu__link--alt {
    padding-left: $space-x;
    i {
      float: right;
      margin-left: $space;
    }
  }
  .menu__foot .brandmark {
    float: right;
    margin-left: $space-x;
  }
}