/**
 * Page Copy
 * ============================================ */

%page-copy-block {
  @include breakpoint(m) {
    margin-left: auto;
    margin-right: auto;
    max-width: 55%;
  }
}

.page-copy {
  @include set-type-medium;
  position: relative;
  padding-left: $space-s;
  padding-right: $space-s;
  @include breakpoint(m) {
    padding-left: 0;
    padding-right: 0;
  }
  * {
    border-color: $shadow-light;
  }
  h3 {
    @include set-type-xlarge;
    margin-bottom: $line;
    margin-top: $line;
    font-weight: $font-bold;
    text-align: center;
    text-transform: capitalize;
  }
  h4 {
    @include set-type-medium;
    @include reset(first, margin-top);
    margin-bottom: $line;
    margin-top: $line;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: $spacing;
  }
  p, blockquote,
  figcaption {
    @extend %page-copy-block;
  }
  p {
    @include reset(first, margin-top);
    @include hyphenate;
    margin-top: $line;
    text-align: justify;
  }
  p + p {
    @include indent;
  }
  figure + p {
    margin-top: $line;
    @include breakpoint(m) {
      margin-top: $space-l;
    }
  }
  figure {
    margin-top: $line;
    position: relative;
    img {
      width: 100%;
    }
    @include breakpoint(m) {
      margin-top: $space-l;
    }
  }
  figcaption {
    @include set-type-xsmall;
    color: $mono-M;
    font-style: italic;
    margin-top: $space-s;
    @include breakpoint(m) {
      margin-top: $line;
    }
  }
  dl {
    @include clearfix;
    display: block;
    > * {
      height: auto;
      float: left;
      margin: 0 0 ($line / 2) 0;
    }
  }
  dt {
    color: $mono-M;
    width: 40%;
  }
  dd {
    width: 60%;
  }
}