/**
 * Page header
 * ============================================ */

.page-head {
  text-align: center;
  z-index: 1000;
  * {
    line-height: $page-head-height;
  }
}

.page-head__brandmark {
  display: block;
  text-align: center;
  a {
    display: inline-block;
    line-height: $page-head-height;
  }
}

/* Menu Items
----------------------------------------------- */

.page-head__menu-item--first,
.page-head__menu-item--last {
  z-index: 50;
  padding-left: $space;
  padding-right: $space;
}
.page-head__menu-item--first  { @include position-top-left(0,0); }
.page-head__menu-item--last   { @include position-top-right(0,0); }

/* Altered variation
----------------------------------------------- */

.page-head--altered {
  background: $background;
  box-shadow: 0 1px 2px $shadow-weak !important;
}