/**
 * Page Foot
 * ============================================ */

.page-foot {
  @include fill-inverted;
  line-height: $page-foot-height;
  padding-left: $space-s;
  padding-right: $space-s;
  text-align: center;
  .footnotes {
    line-height: $page-foot-height;
    opacity: $opacity;
  }
}

.page-foot .brandmark {
  display: block;
  text-align: center;
  width: auto;
  i {
    line-height: $page-foot-height;
    font-size: 28px;
  }
}