/**
 * Page Foot
 * ============================================ */

.page-foot {
  @include fill-inverted;
  padding-left: $space-s;
  padding-right: $space-s;
  text-align: center;
}

.page-foot .brandmark {
  margin-top: $space-m;
  margin-bottom: $space-s;
  text-align: center;
}
.page-foot .footnotes {
  display: block;
  color: $mono-M;
}