/**
 * Toolbars
 * ============================================ */

$toolbar-toggle-size: $space-h;

.toolbar {
  border-bottom: 1px solid $shadow;
  position: relative;
}
.toolbar__input {
  margin-right: $toolbar-toggle-size;
}
.toolbar__toggle {
  @include position-top-right(0,0);
  width: $toolbar-toggle-size;
  padding: $space-x $space-s;
  text-align: right;
  display: inline-block;
}
.toolbar__extension {
  @include transition(
    height $transition-time ease,
    opacity $transition-time ease
  );
  border-top: 1px solid $shadow;
  margin-top: -1px;
  overflow: hidden;
  &.toolbar__extension--active {
    height: 37px;
    opacity: 1;
  }
  &.toolbar__extension--inactive {
    height: 0px;
    opacity: 0;
  }
}