<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.palestineremix.palestineremix"
        versionCode = "1"
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Palestine Remix</name>

    <description>
        Palestine Remix sample build docs.
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Al Jazeera
    </author>
</widget>