/*
  ===============================================
  # Context namespaces
  ===============================================
*/

.tpl--home,
.tpl--longform,
.tpl--credits,
.tpl--about,
.tpl--theme {
  .page-wrap {
    padding: 0;
  }
  .page-fold {
    @include animation(scaleHIn 10s ease-in-out 0);
  }
  .page-fold__el {
    @include animation(scaleHOut 10s ease-in-out 0);
  }
}

.tpl--listing,
.tpl--remix {
  .page-wrap {
    padding-top: $page-head-height;
    padding-bottom: 0;
  }
}