/*
  ===============================================
  # Context namespaces
  ===============================================
*/

.tpl--home,
.tpl--longform,
.tpl--credits,
.tpl--about,
.tpl--map,
.tpl--theme,
.tpl--quiz {
  .page-wrap {
    padding: 0;
  }
  .page-fold {
    @include animation(scaleHIn 10s ease-in-out 0);
  }
  .page-fold__el {
    @include animation(scaleHOut 10s ease-in-out 0);
  }
}

.tpl--listing,
.tpl--remix,
.tpl--pad {
  .page-body {
    padding-top: $page-head-height;
  }
  .page-wrap {
    padding: 0;
  }
}
.tpl--remix {
  .HAP-header {
    display: none;
  }
  .HAP-transcript.HAP-transcript--output {
    padding-bottom: 0;
  }
}

// Stick Footer only internal pages, where the actually we have footer - fixes home page slider thingy
.tpl--about,
.tpl--credits,
.tpl--listing,
.tpl--longform,
.tpl--map,
.tpl--pad,
.tpl--quiz,
.tpl--theme,
.tpl--viewer {
  @include stick-footer($page-foot-height, ".page-wrap", ".page-push", ".page-foot");
}

// Adjustments of PAD and VIEWER and SEARCH on Desktop, rely on adding .tpl--compact class to body of both pages

.tpl--compact.tpl--compact {
  .page-head,
  .page-side,
  .page-foot {
    display: none;
  }
  .page-body {
    padding-top: 0;
    margin: 0;
  }
  #HAP-remix-helper {
    display: inline-block;
  }
  .HAP--pad .HAP-sidebar {
    top: 0;
  }
}

html.english .noenglish, html.arabic .noarabic, html.turkish .noturkish, html.bosnian .nobosnian {
  display: none;
}

html.arabic {
  .HAP-transcript p {
    @include set-type-medium;
  }
}
