/*
  ===============================================
  # CONFIG
  ===============================================
*/

/* Colors
----------------------------------------------- */

// Rainbow
$graphite-LD        : #788A91;
$graphite-HD        : #9AA7AC;
$graphite-LLt       : #BCC4C8;
$graphite-HL        : #DADFE1;

$red-LD             : #F22613;
$red-HL             : #FDDBD8;

$green-LD           : #007A3D;
$green-HL           : #DBF5FA;

/* Typography
----------------------------------------------- */

// Font Sizes
$font-xxl           : 20px;
$font-xl            : 17px;
$font-l             : 15px;
$font-m             : 13px;
$font-s             : 12px;
$font-xs            : 11px;
$font-xxs           : 10px;

// Font Families
// $primary-font       : 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primary-font       : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$secondary-font     : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $secondary-font     : 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* Default Definitions
----------------------------------------------- */

$background         : $mono-Wt;
$color              : $mono-D;
$link-color         : $red-LD;
$link-color-inverted: $mono-Wt;

$flare              : $flare-light;
$shadow             : $shadow-light;
$opacity            : .5;

$font               : $primary-font;
$size               : $font-s;
$weight             : $font-regular;
$line               : $line-m;
$spacing            : $spacing-m;

$delay              : 0s;
$time               : $time-m;

$space              : $space-s;
$radius             : $radius-s;

// Layout Definitions
// ----------------------------------------------

$page-head-height   : 40px;
$page-foot-height   : 80px;
$side-foot-height   : 40px;
$side-width         : 270px;
$group-width        : 100%;