/*
  ===============================================
  # Layout
  ===============================================
*/

@if $direction == "ltr" {
  .page-body,
  .page-head {
    &.moved--left {
      @include backface-visibility(hidden);
      @include transform(translate3d($side-width * (-1),0,0));
    }
    &.moved--right {
      @include backface-visibility(hidden);
      @include transform(translate3d($side-width,0,0));
    }
    &.moved--left,
    &.moved--right {
      opacity: $opacity;
    }
  }
  .page-side--left {
    @extend %page-side;
    @include transform(translate3d(0,0,0));
    left: 0;
    &.moved { @include transform(translate3d(($side-width * (-1)),0,0)); }
  }
  .page-side--right {
    @extend %page-side;
    @include transform(translate3d($side-width * (-1),0,0));
    left: 100%;
    &.moved { @include transform(translate3d(0,0,0)); }
  }
  .page-overlay {
    &.cover-left { @include position-top-right(0, $side-width, fixed); }
    &.cover-right { @include position-top-left(0, $side-width, fixed); }
    &.cover-all { @include position-top-left(0, 0, fixed); background: $shadow-light; }
  }

  // Desktop Variation

  @include breakpoint(l) {
    .tpl--responsive {
      .page-side--left,
      .page-side--left.moved {
        @include transform(translate3d(0,0,0));
      }
      .page-body,
      .page-head {
        @include transform(translate3d(0,0,0));
        margin-left: $side-width;
      }
      .page-head__menu-item--first {
        display: none;
      }
    }
  }
}