/*
  ===============================================
  # Layout
  ===============================================
*/

/* Globals
----------------------------------------------- */

.group {
  max-width: $group-width;
  margin-left: auto;
  margin-right: auto;
}

.page-side--right,
.page-side--left,
.page-body,
.page-head,
.page-head * {
  @include transition(
    transform $time ease,
    opacity $time ease
  );
}

.page-body,
.page-head {
  &.moved--left {
    @include transform(translate3d($side-width * (-1),0,0));
  }
  &.moved--right {
    @include transform(translate3d($side-width,0,0));
  }
}

.page-head.moved--left,
.page-head.moved--right {
  * {
    opacity: $opacity
  }
}

.page-body {
  &.moved--left,
  &.moved--right {
    opacity: $opacity;
  }
}

/* Page Side
----------------------------------------------- */

%page-side {
  @include backface-visibility(hidden);
  @include set-size($side-width, 100%);
  bottom: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: $side-width;
}

.page-side--left {
  @extend %page-side;
  @include transform(translate3d(0,0,0));
  left: 0;
  &.moved {
    @include transform(translate3d(($side-width * (-1)),0,0));
  }
}

.page-side--right {
  @extend %page-side;
  @include transform(translate3d($side-width * (-1),0,0));
  left: 100%;
  &.moved {
    @include transform(translate3d(0,0,0));
  }
}

.page-side__body {
  overflow: hidden;
}

.page-side__foot {
  line-height: $foot-height;
}

@include stick-footer($foot-height, ".page-side__body", ".page-side__push", ".page-side__foot");

/* Page Body
----------------------------------------------- */

.page-body {
  @include clearfix;
  height: 100%;
  opacity: 1;
  // overflow-x: hidden;
  position: relative;
}

/* Page Wrap
----------------------------------------------- */

.page-wrap {
  @include clearfix;
  overflow-x: hidden;
  padding: (($space-l * 1.5) + $head-height) 0 $space;
  @include breakpoint(m) {
    padding: ($space-h + $head-height) 0 $space-h;
  }
}

/* Page Cover
----------------------------------------------- */

.page-cover {
  position: relative;
  z-index: 1;
}

/* Page Head
----------------------------------------------- */

.page-head {
  @include transform(translate3d(0,0,0));
  @include position-top-left(0,0, fixed);
  width: 100%;
  // @include set-size(100%, inherit);
  line-height: $head-height;
  z-index: 100;
}

/* Page Content
----------------------------------------------- */

.page-content {
  padding-top: $space;
  padding-bottom: $space;
  @include breakpoint(m) {
    padding-top: $space-h;
    padding-bottom: $space-h;
  }
}

.page-overlay {
  cursor: pointer;
  width: 100%;
  z-index: 1000;
  &.shown-right {
    @include position-top-right(0, $side-width, fixed);
  }
  &.shown-left {
    @include position-top-left(0, $side-width, fixed);
  }
}