/*
  ===============================================
  # LAYOUT
  ===============================================
*/

/* Name Variables
----------------------------------------------- */

$sidebar-width: 265px;
$footer-height: $space-h;
$header-height: $footer-height;
$page-side-footer-height: 120px;

/* Globals
----------------------------------------------- */

.page-side--right,
.page-side--left,
.page-body {
  @include transition(
    transform $transition-time ease,
    opacity $transition-time ease
  );
}

@include stick-footer($footer-height, ".wrapper", ".push", ".footer");

/* Page Side
----------------------------------------------- */

%page-side {
  @include set-size($sidebar-width, 100%);
  background: $shadow-light;
  bottom: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: $sidebar-width;
}

// Page Side
.page-side--left {
  @extend %page-side;
  @include transform(translate3d(0,0,0));
  box-shadow: inset -1px 0 $space-x $shadow;
  left: 0;
  &.moved {
    @include transform(translate3d(($sidebar-width * (-1)),0,0));
  }
}

// Page Side
.page-side--right {
  @extend %page-side;
  @include transform(translate3d($sidebar-width * (-1),0,0));
  box-shadow: inset 1px 0 $space-x $shadow;
  left: 100%;
  &.moved {
    @include transform(translate3d(0,0,0));
  }
}

.page-side__foot {
  text-align: center;
}

@include stick-footer($page-side-footer-height, ".page-side__body", ".page-side__push", ".page-side__foot");

/* Page Body
----------------------------------------------- */

.page-body {
  height: 100%;
  opacity: 1;
  &.moved--left,
  &.moved--right {
    opacity: $opacity;
  }
  &.moved--left {
    @include transform(translate3d($sidebar-width * (-1),0,0));
  }
  &.moved--right {
    @include transform(translate3d($sidebar-width,0,0));
    opacity: $opacity;
  }
}

/* Page Overlay
----------------------------------------------- */

.page-overlay {
  @include position-top-right(0,0);
  @include position-bottom-left(0,0);
  z-index: 100;
}

// Page Header
.header { height: $header-height }