<!doctype html>
<html lang="ar" dir="rtl" class="arabic">
<head>
<meta charset="utf-8">
<meta http-equiv="content-language" content="ar">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">

<!-- Change the homescreen title -->
<meta name="apple-mobile-web-app-title" content="Palestine Remix">

<!-- Turn on IE cleartype -->
<meta http-equiv="cleartype" content="on">

<!-- Hide chrome when your app is added to the homescreen -->
<!-- android -->
<meta name="mobile-web-app-capable" content="yes">
<!-- iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="translucent-black">
<meta name="apple-mobile-web-app-title" content="My App">

<!-- OPEN GRAPH TAG MADNESS -->

<!-- A clear title without branding or mentioning the domain itself. -->
<!-- <meta property="og:title" content="Palestine Remix" /> -->

<!-- A site name -->
<!-- <meta property="og:site_name" content="Palestine Remix"/> -->

<!-- A thumbnail image -->
<!-- <meta property="og:image" content="../../assets/images/temp1.jpg" /> -->

<!-- A URL with no session id or extraneous parameters. All shares on Facebook will use this as the identifying URL for this article. -->
<!-- <meta property="og:url" content="http://palestineremix.com" /> -->

<!-- A clear description, at least two sentences long. -->
<!-- <meta property="og:description" content="The story of Palestine told like never before. Explore, browse and search through 20+ hours of top quality full-lenght documentaries reviving dialogue on the Palestine Issue in a new highly interactive way." /> -->

<!-- Unique ID that identifies your domain to Facebook. -->
<!-- <meta property="fb:app_id" content="[FB_APP_ID]" /> -->

<!-- The type of object -->
<!-- <meta property="og:type" content="article" /> -->

<!-- This article has some translations: -->
<!-- <meta property="og:locale" content="ar_QA" /> -->

<!-- This article has an author and a publisher: -->
<!-- <meta property="article:author" content="https://www.facebook.com/ID" /> -->
<!-- <meta property="article:publisher" content="https://www.facebook.com/aljazeera" /> -->

<title>Al Jazeera - Palestine Remix</title>

<link rel="icon" type="image/x-icon" href="../../assets/images/favicon.ico">
<link rel="stylesheet" href="../../assets/fonts/hyperaudio-player/style.css">
<link rel="stylesheet" href="../../assets/styles/loader.css">

<script src="../../assets/scripts/vendorq1.js"></script>
</head>
<body class="tpl--remix tpl--responsive tpl--compact">
<header class="page-head" id="page-head" data-head-state="altered" data-head-state-persist="true">
</header>
<div id="page-body" class="page-body">
  <div class="HAP HAP--viewer">
    <header id="header" class="HAP-header">
      <h1 id="mix-title" class="HAP-header__title"></h1>
      <ul class="HAP-header__menu HAP-menu">
        <li class="HAP-menu__item">
          <a class="HAP-menu__link HAP-button" id="edit" href="viewer.html" target="_top" title="Edit"><span class="hidden"><em>Re</em>mix</span></a>
        </li>
        <li class="HAP-menu__item">
          <a class="HAP-menu__link HAP-button" id="share" title="Share"><span class="hidden">Share</span></a>
        </li>
      </ul>
    </header>
    <div id="viewer-wrapper" class="HAP-output">
      <div class="HAP-helpers">
        <a class="HAP-helper" target="_new" id="HAP-remix-helper" href="../../../remix_main.html"><i class="icon-shuffle" style="font-size: 13px;"></i> <em>Re</em>mix</a>
        <a class="HAP-helper" href="../../../how-to-remix.html" target="_new" id="HAP-helper"><i class="icon-info"></i></a>
      </div>
      <div id="output-canvas" class="HAP-canvas HAP-canvas--output">
      </div>
      <div id="output-transcript" class="HAP-transcript HAP-transcript--output"></div>
    </div>
  </div>
</div>
<div id="page-overlay" class="page-overlay toggleSide togglePanel" data-overlay-state="cover-none" data-panel-target="all" data-side-target="all"></div>
<div id="panel--share-transcript" class="panel" data-panel-state="inactive">
  <div class="panel__head">
    <h2 class="panel__title">شارك المقطع</h2>
  </div>
  <div class="panel__body pvh">
    <div class="group">
      <div class="s-span-1of1 m-span-3of5 m-center l-span-3of5 l-center">
        <h3 class="panel__subtitle">شارك المقطع مع أصدقائك</h3>
        <div class="group">
          <div class="span-1of4">
            <a id="hap-share-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=UURRLL" class="jsSetShareTranscriptURL sec-button block pam mrx"><i class="icon-facebook" style="font-size: 24px;"></i></a>
          </div>
          <div class="span-1of4">
            <a id="hap-share-twitter" target="_blank" href="https://twitter.com/home?status=TTEEXXTT%20via%20UURRLL%20" class="jsSetShareTranscriptURL sec-button block pam mhx"><i class="icon-twitter" style="font-size: 24px;"></i></a>
          </div>
          <div class="span-1of4">
            <a id="hap-share-google" target="_blank" href="https://plus.google.com/share?url=UURRLL" class="jsSetShareTranscriptURL sec-button block pam mhx"><i class="icon-googleplus" style="font-size: 24px;"></i></a>
          </div>
          <div class="span-1of4">
            <a id="hap-share-email" target="_blank" href="mailto:?subject=رسالة من ريمكس فلسطين&body= من موقع ريمكس فلسطين التفاعلي UURRLL%0A%0APalestineremix.net%0Aالموقع التفاعلي الرائد عن قصة فلسطين بصريا" class="jsSetShareTranscriptURL sec-button block pam mlx"><i class="icon-mail" style="font-size: 24px;"></i></a>
          </div>
        </div>
        <h3 class="panel__subtitle--alt mtl">احتفظ لتعود للرابط لاحقا</h3>
        <pre id="hav-share-url" class="pre mbl"></pre>
      </div>
    </div>
  </div>
  <div class="panel__foot">
    <div class="group">
      <div class="s-span-1of1 m-span-3of5 m-center l-span-3of5 l-center">
        <!-- <a class="panel__action--pri togglePanel" data-panel-target="share-transcript">تأكيد</a> -->
        <a class="panel__action--pri jsSetSaveVideoURL" href="#DOWNLOAD">Download the resulting video</a>
      </div>
    </div>
  </div>
  <a class="panel__action--sec togglePanel" data-panel-target="share-transcript">إغلاق</a>
</div>
<script src="../../assets/data-A.js"></script>
<script src="../../assets/scripts/vendorq2.js"></script>
<script src="../../assets/scripts/aj.js"></script>
<script src="../../assets/scripts/ports.js"></script>
<script type="text/javascript">
AJHAWrapper.init('Viewer', TRANSCRIPTS + L + '/');
</script>
<div id="share-selection"></div>
</body>
</html>
