/*
  ===============================================
  # Al Jazeera Palestine in Focus
  ===============================================
*/
/* Frameworks
----------------------------------------------- */
/**
 * Catalyst Core Stylesheet
 *
 * Includes everything to quickly get started
 * on new projects.
 */
/**
 * Catalyst Reset
 *
 * reset-install - include the reset in the CSS output
 *
 * Based on Eric Meyer's Reset
 * http://meyerweb.com/eric/tools/css/reset/
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  text-align: left; }

img {
  display: block; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/**
 * Catalyst Grid
 *
 * grid-install         - make the grid classes available to CSS
 *
 * group                - a group of spans
 * gutter (space)       - wraps around a group, spans will have gutters
 * span   (part, whole) - a column with a percentage based width
 *
 * pull   (part, whole) - reposition a span to the left
 * push   (part, whole) - reposition a span to the right
 * offset (part, whole) - prepend an invisible span
 * offset-none          - reset an existing offset
 * flow   (left|right)  - align a span left or right
 * center               - center a span within a group
 *
 */
.group {
  clear: both;
  width: 100%; }
  .group:after {
    content: "";
    display: table;
    clear: both; }

.gutter-n, .gutter-x, .gutter-s, .gutter-m, .gutter-l, .gutter-h, .s-gutter-n, .s-gutter-x, .s-gutter-s, .s-gutter-m, .s-gutter-l, .s-gutter-h, .m-gutter-n, .m-gutter-x, .m-gutter-s, .m-gutter-m, .m-gutter-l, .m-gutter-h, .l-gutter-n, .l-gutter-x, .l-gutter-s, .l-gutter-m, .l-gutter-l, .l-gutter-h {
  overflow: hidden; }

.span-1of1, .span-1of2, .span-1of3, .span-2of3, .span-1of4, .span-2of4, .span-3of4, .span-1of5, .span-2of5, .span-3of5, .span-4of5, .span-1of6, .span-2of6, .span-3of6, .span-4of6, .span-5of6, .s-span-1of1, .s-span-1of2, .s-span-1of3, .s-span-2of3, .s-span-1of4, .s-span-2of4, .s-span-3of4, .s-span-1of5, .s-span-2of5, .s-span-3of5, .s-span-4of5, .s-span-1of6, .s-span-2of6, .s-span-3of6, .s-span-4of6, .s-span-5of6, .m-span-1of1, .m-span-1of2, .m-span-1of3, .m-span-2of3, .m-span-1of4, .m-span-2of4, .m-span-3of4, .m-span-1of5, .m-span-2of5, .m-span-3of5, .m-span-4of5, .m-span-1of6, .m-span-2of6, .m-span-3of6, .m-span-4of6, .m-span-5of6, .l-span-1of1, .l-span-1of2, .l-span-1of3, .l-span-2of3, .l-span-1of4, .l-span-2of4, .l-span-3of4, .l-span-1of5, .l-span-2of5, .l-span-3of5, .l-span-4of5, .l-span-1of6, .l-span-2of6, .l-span-3of6, .l-span-4of6, .l-span-5of6 {
  display: block;
  float: left;
  min-height: 1px;
  position: relative; }

.gutter-n > .group {
  margin-left: -0;
  width: 100%;
  width: calc(100% + 0); }
  .gutter-n > .group > [class*="span-"] {
    padding-left: 0;
    padding-right: 0; }

.gutter-x > .group {
  margin-left: -3px;
  width: 100%;
  width: calc(100% + 6px); }
  .gutter-x > .group > [class*="span-"] {
    padding-left: 3px;
    padding-right: 3px; }

.gutter-s > .group {
  margin-left: -5px;
  width: 100%;
  width: calc(100% + 10px); }
  .gutter-s > .group > [class*="span-"] {
    padding-left: 5px;
    padding-right: 5px; }

.gutter-m > .group {
  margin-left: -10px;
  width: 100%;
  width: calc(100% + 20px); }
  .gutter-m > .group > [class*="span-"] {
    padding-left: 10px;
    padding-right: 10px; }

.gutter-l > .group {
  margin-left: -30px;
  width: 100%;
  width: calc(100% + 60px); }
  .gutter-l > .group > [class*="span-"] {
    padding-left: 30px;
    padding-right: 30px; }

.gutter-h > .group {
  margin-left: -80px;
  width: 100%;
  width: calc(100% + 160px); }
  .gutter-h > .group > [class*="span-"] {
    padding-left: 80px;
    padding-right: 80px; }

.span-1of1 {
  width: 100%; }

.pull-1of1 {
  left: auto;
  right: 100%; }

.push-1of1 {
  left: 100%;
  right: auto; }

.offset-1of1 {
  margin-left: 100%; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.flow-left {
  float: left;
  margin-left: 0; }

.flow-right {
  float: right;
  margin-right: 0; }

.span-1of2 {
  width: 50%; }

.pull-1of2 {
  left: auto;
  right: 50%; }

.push-1of2 {
  left: 50%;
  right: auto; }

.offset-1of2 {
  margin-left: 50%; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.flow-left {
  float: left;
  margin-left: 0; }

.flow-right {
  float: right;
  margin-right: 0; }

.span-1of3 {
  width: 33.33333%; }

.pull-1of3 {
  left: auto;
  right: 33.33333%; }

.push-1of3 {
  left: 33.33333%;
  right: auto; }

.offset-1of3 {
  margin-left: 33.33333%; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.flow-left {
  float: left;
  margin-left: 0; }

.flow-right {
  float: right;
  margin-right: 0; }

.span-2of3 {
  width: 66.66667%; }

.pull-2of3 {
  left: auto;
  right: 66.66667%; }

.push-2of3 {
  left: 66.66667%;
  right: auto; }

.offset-2of3 {
  margin-left: 66.66667%; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.flow-left {
  float: left;
  margin-left: 0; }

.flow-right {
  float: right;
  margin-right: 0; }

.span-1of4 {
  width: 25%; }

.pull-1of4 {
  left: auto;
  right: 25%; }

.push-1of4 {
  left: 25%;
  right: auto; }

.offset-1of4 {
  margin-left: 25%; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.flow-left {
  float: left;
  margin-left: 0; }

.flow-right {
  float: right;
  margin-right: 0; }

.span-2of4 {
  width: 50%; }

.pull-2of4 {
  left: auto;
  right: 50%; }

.push-2of4 {
  left: 50%;
  right: auto; }

.offset-2of4 {
  margin-left: 50%; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.flow-left {
  float: left;
  margin-left: 0; }

.flow-right {
  float: right;
  margin-right: 0; }

.span-3of4 {
  width: 75%; }

.pull-3of4 {
  left: auto;
  right: 75%; }

.push-3of4 {
  left: 75%;
  right: auto; }

.offset-3of4 {
  margin-left: 75%; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.flow-left {
  float: left;
  margin-left: 0; }

.flow-right {
  float: right;
  margin-right: 0; }

.span-1of5 {
  width: 20%; }

.pull-1of5 {
  left: auto;
  right: 20%; }

.push-1of5 {
  left: 20%;
  right: auto; }

.offset-1of5 {
  margin-left: 20%; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.flow-left {
  float: left;
  margin-left: 0; }

.flow-right {
  float: right;
  margin-right: 0; }

.span-2of5 {
  width: 40%; }

.pull-2of5 {
  left: auto;
  right: 40%; }

.push-2of5 {
  left: 40%;
  right: auto; }

.offset-2of5 {
  margin-left: 40%; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.flow-left {
  float: left;
  margin-left: 0; }

.flow-right {
  float: right;
  margin-right: 0; }

.span-3of5 {
  width: 60%; }

.pull-3of5 {
  left: auto;
  right: 60%; }

.push-3of5 {
  left: 60%;
  right: auto; }

.offset-3of5 {
  margin-left: 60%; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.flow-left {
  float: left;
  margin-left: 0; }

.flow-right {
  float: right;
  margin-right: 0; }

.span-4of5 {
  width: 80%; }

.pull-4of5 {
  left: auto;
  right: 80%; }

.push-4of5 {
  left: 80%;
  right: auto; }

.offset-4of5 {
  margin-left: 80%; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.flow-left {
  float: left;
  margin-left: 0; }

.flow-right {
  float: right;
  margin-right: 0; }

.span-1of6 {
  width: 16.66667%; }

.pull-1of6 {
  left: auto;
  right: 16.66667%; }

.push-1of6 {
  left: 16.66667%;
  right: auto; }

.offset-1of6 {
  margin-left: 16.66667%; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.flow-left {
  float: left;
  margin-left: 0; }

.flow-right {
  float: right;
  margin-right: 0; }

.span-2of6 {
  width: 33.33333%; }

.pull-2of6 {
  left: auto;
  right: 33.33333%; }

.push-2of6 {
  left: 33.33333%;
  right: auto; }

.offset-2of6 {
  margin-left: 33.33333%; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.flow-left {
  float: left;
  margin-left: 0; }

.flow-right {
  float: right;
  margin-right: 0; }

.span-3of6 {
  width: 50%; }

.pull-3of6 {
  left: auto;
  right: 50%; }

.push-3of6 {
  left: 50%;
  right: auto; }

.offset-3of6 {
  margin-left: 50%; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.flow-left {
  float: left;
  margin-left: 0; }

.flow-right {
  float: right;
  margin-right: 0; }

.span-4of6 {
  width: 66.66667%; }

.pull-4of6 {
  left: auto;
  right: 66.66667%; }

.push-4of6 {
  left: 66.66667%;
  right: auto; }

.offset-4of6 {
  margin-left: 66.66667%; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.flow-left {
  float: left;
  margin-left: 0; }

.flow-right {
  float: right;
  margin-right: 0; }

.span-5of6 {
  width: 83.33333%; }

.pull-5of6 {
  left: auto;
  right: 83.33333%; }

.push-5of6 {
  left: 83.33333%;
  right: auto; }

.offset-5of6 {
  margin-left: 83.33333%; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.flow-left {
  float: left;
  margin-left: 0; }

.flow-right {
  float: right;
  margin-right: 0; }

.offset-none {
  margin-left: 0; }

@media only screen {
  .s-gutter-n > .group {
    margin-left: -0;
    width: 100%;
    width: calc(100% + 0); }
    .s-gutter-n > .group > [class*="span-"] {
      padding-left: 0;
      padding-right: 0; }
  .s-gutter-x > .group {
    margin-left: -3px;
    width: 100%;
    width: calc(100% + 6px); }
    .s-gutter-x > .group > [class*="span-"] {
      padding-left: 3px;
      padding-right: 3px; }
  .s-gutter-s > .group {
    margin-left: -5px;
    width: 100%;
    width: calc(100% + 10px); }
    .s-gutter-s > .group > [class*="span-"] {
      padding-left: 5px;
      padding-right: 5px; }
  .s-gutter-m > .group {
    margin-left: -10px;
    width: 100%;
    width: calc(100% + 20px); }
    .s-gutter-m > .group > [class*="span-"] {
      padding-left: 10px;
      padding-right: 10px; }
  .s-gutter-l > .group {
    margin-left: -30px;
    width: 100%;
    width: calc(100% + 60px); }
    .s-gutter-l > .group > [class*="span-"] {
      padding-left: 30px;
      padding-right: 30px; }
  .s-gutter-h > .group {
    margin-left: -80px;
    width: 100%;
    width: calc(100% + 160px); }
    .s-gutter-h > .group > [class*="span-"] {
      padding-left: 80px;
      padding-right: 80px; }
  .s-span-1of1 {
    width: 100%; }
  .s-pull-1of1 {
    left: auto;
    right: 100%; }
  .s-push-1of1 {
    left: 100%;
    right: auto; }
  .s-offset-1of1 {
    margin-left: 100%; }
  .s-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .s-flow-left {
    float: left;
    margin-left: 0; }
  .s-flow-right {
    float: right;
    margin-right: 0; }
  .s-span-1of2 {
    width: 50%; }
  .s-pull-1of2 {
    left: auto;
    right: 50%; }
  .s-push-1of2 {
    left: 50%;
    right: auto; }
  .s-offset-1of2 {
    margin-left: 50%; }
  .s-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .s-flow-left {
    float: left;
    margin-left: 0; }
  .s-flow-right {
    float: right;
    margin-right: 0; }
  .s-span-1of3 {
    width: 33.33333%; }
  .s-pull-1of3 {
    left: auto;
    right: 33.33333%; }
  .s-push-1of3 {
    left: 33.33333%;
    right: auto; }
  .s-offset-1of3 {
    margin-left: 33.33333%; }
  .s-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .s-flow-left {
    float: left;
    margin-left: 0; }
  .s-flow-right {
    float: right;
    margin-right: 0; }
  .s-span-2of3 {
    width: 66.66667%; }
  .s-pull-2of3 {
    left: auto;
    right: 66.66667%; }
  .s-push-2of3 {
    left: 66.66667%;
    right: auto; }
  .s-offset-2of3 {
    margin-left: 66.66667%; }
  .s-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .s-flow-left {
    float: left;
    margin-left: 0; }
  .s-flow-right {
    float: right;
    margin-right: 0; }
  .s-span-1of4 {
    width: 25%; }
  .s-pull-1of4 {
    left: auto;
    right: 25%; }
  .s-push-1of4 {
    left: 25%;
    right: auto; }
  .s-offset-1of4 {
    margin-left: 25%; }
  .s-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .s-flow-left {
    float: left;
    margin-left: 0; }
  .s-flow-right {
    float: right;
    margin-right: 0; }
  .s-span-2of4 {
    width: 50%; }
  .s-pull-2of4 {
    left: auto;
    right: 50%; }
  .s-push-2of4 {
    left: 50%;
    right: auto; }
  .s-offset-2of4 {
    margin-left: 50%; }
  .s-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .s-flow-left {
    float: left;
    margin-left: 0; }
  .s-flow-right {
    float: right;
    margin-right: 0; }
  .s-span-3of4 {
    width: 75%; }
  .s-pull-3of4 {
    left: auto;
    right: 75%; }
  .s-push-3of4 {
    left: 75%;
    right: auto; }
  .s-offset-3of4 {
    margin-left: 75%; }
  .s-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .s-flow-left {
    float: left;
    margin-left: 0; }
  .s-flow-right {
    float: right;
    margin-right: 0; }
  .s-span-1of5 {
    width: 20%; }
  .s-pull-1of5 {
    left: auto;
    right: 20%; }
  .s-push-1of5 {
    left: 20%;
    right: auto; }
  .s-offset-1of5 {
    margin-left: 20%; }
  .s-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .s-flow-left {
    float: left;
    margin-left: 0; }
  .s-flow-right {
    float: right;
    margin-right: 0; }
  .s-span-2of5 {
    width: 40%; }
  .s-pull-2of5 {
    left: auto;
    right: 40%; }
  .s-push-2of5 {
    left: 40%;
    right: auto; }
  .s-offset-2of5 {
    margin-left: 40%; }
  .s-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .s-flow-left {
    float: left;
    margin-left: 0; }
  .s-flow-right {
    float: right;
    margin-right: 0; }
  .s-span-3of5 {
    width: 60%; }
  .s-pull-3of5 {
    left: auto;
    right: 60%; }
  .s-push-3of5 {
    left: 60%;
    right: auto; }
  .s-offset-3of5 {
    margin-left: 60%; }
  .s-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .s-flow-left {
    float: left;
    margin-left: 0; }
  .s-flow-right {
    float: right;
    margin-right: 0; }
  .s-span-4of5 {
    width: 80%; }
  .s-pull-4of5 {
    left: auto;
    right: 80%; }
  .s-push-4of5 {
    left: 80%;
    right: auto; }
  .s-offset-4of5 {
    margin-left: 80%; }
  .s-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .s-flow-left {
    float: left;
    margin-left: 0; }
  .s-flow-right {
    float: right;
    margin-right: 0; }
  .s-span-1of6 {
    width: 16.66667%; }
  .s-pull-1of6 {
    left: auto;
    right: 16.66667%; }
  .s-push-1of6 {
    left: 16.66667%;
    right: auto; }
  .s-offset-1of6 {
    margin-left: 16.66667%; }
  .s-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .s-flow-left {
    float: left;
    margin-left: 0; }
  .s-flow-right {
    float: right;
    margin-right: 0; }
  .s-span-2of6 {
    width: 33.33333%; }
  .s-pull-2of6 {
    left: auto;
    right: 33.33333%; }
  .s-push-2of6 {
    left: 33.33333%;
    right: auto; }
  .s-offset-2of6 {
    margin-left: 33.33333%; }
  .s-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .s-flow-left {
    float: left;
    margin-left: 0; }
  .s-flow-right {
    float: right;
    margin-right: 0; }
  .s-span-3of6 {
    width: 50%; }
  .s-pull-3of6 {
    left: auto;
    right: 50%; }
  .s-push-3of6 {
    left: 50%;
    right: auto; }
  .s-offset-3of6 {
    margin-left: 50%; }
  .s-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .s-flow-left {
    float: left;
    margin-left: 0; }
  .s-flow-right {
    float: right;
    margin-right: 0; }
  .s-span-4of6 {
    width: 66.66667%; }
  .s-pull-4of6 {
    left: auto;
    right: 66.66667%; }
  .s-push-4of6 {
    left: 66.66667%;
    right: auto; }
  .s-offset-4of6 {
    margin-left: 66.66667%; }
  .s-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .s-flow-left {
    float: left;
    margin-left: 0; }
  .s-flow-right {
    float: right;
    margin-right: 0; }
  .s-span-5of6 {
    width: 83.33333%; }
  .s-pull-5of6 {
    left: auto;
    right: 83.33333%; }
  .s-push-5of6 {
    left: 83.33333%;
    right: auto; }
  .s-offset-5of6 {
    margin-left: 83.33333%; }
  .s-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .s-flow-left {
    float: left;
    margin-left: 0; }
  .s-flow-right {
    float: right;
    margin-right: 0; }
  .s-offset-none {
    margin-left: 0; } }

@media only screen and (min-width:40.063em) {
  .m-gutter-n > .group {
    margin-left: -0;
    width: 100%;
    width: calc(100% + 0); }
    .m-gutter-n > .group > [class*="span-"] {
      padding-left: 0;
      padding-right: 0; }
  .m-gutter-x > .group {
    margin-left: -3px;
    width: 100%;
    width: calc(100% + 6px); }
    .m-gutter-x > .group > [class*="span-"] {
      padding-left: 3px;
      padding-right: 3px; }
  .m-gutter-s > .group {
    margin-left: -5px;
    width: 100%;
    width: calc(100% + 10px); }
    .m-gutter-s > .group > [class*="span-"] {
      padding-left: 5px;
      padding-right: 5px; }
  .m-gutter-m > .group {
    margin-left: -10px;
    width: 100%;
    width: calc(100% + 20px); }
    .m-gutter-m > .group > [class*="span-"] {
      padding-left: 10px;
      padding-right: 10px; }
  .m-gutter-l > .group {
    margin-left: -30px;
    width: 100%;
    width: calc(100% + 60px); }
    .m-gutter-l > .group > [class*="span-"] {
      padding-left: 30px;
      padding-right: 30px; }
  .m-gutter-h > .group {
    margin-left: -80px;
    width: 100%;
    width: calc(100% + 160px); }
    .m-gutter-h > .group > [class*="span-"] {
      padding-left: 80px;
      padding-right: 80px; }
  .m-span-1of1 {
    width: 100%; }
  .m-pull-1of1 {
    left: auto;
    right: 100%; }
  .m-push-1of1 {
    left: 100%;
    right: auto; }
  .m-offset-1of1 {
    margin-left: 100%; }
  .m-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .m-flow-left {
    float: left;
    margin-left: 0; }
  .m-flow-right {
    float: right;
    margin-right: 0; }
  .m-span-1of2 {
    width: 50%; }
  .m-pull-1of2 {
    left: auto;
    right: 50%; }
  .m-push-1of2 {
    left: 50%;
    right: auto; }
  .m-offset-1of2 {
    margin-left: 50%; }
  .m-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .m-flow-left {
    float: left;
    margin-left: 0; }
  .m-flow-right {
    float: right;
    margin-right: 0; }
  .m-span-1of3 {
    width: 33.33333%; }
  .m-pull-1of3 {
    left: auto;
    right: 33.33333%; }
  .m-push-1of3 {
    left: 33.33333%;
    right: auto; }
  .m-offset-1of3 {
    margin-left: 33.33333%; }
  .m-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .m-flow-left {
    float: left;
    margin-left: 0; }
  .m-flow-right {
    float: right;
    margin-right: 0; }
  .m-span-2of3 {
    width: 66.66667%; }
  .m-pull-2of3 {
    left: auto;
    right: 66.66667%; }
  .m-push-2of3 {
    left: 66.66667%;
    right: auto; }
  .m-offset-2of3 {
    margin-left: 66.66667%; }
  .m-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .m-flow-left {
    float: left;
    margin-left: 0; }
  .m-flow-right {
    float: right;
    margin-right: 0; }
  .m-span-1of4 {
    width: 25%; }
  .m-pull-1of4 {
    left: auto;
    right: 25%; }
  .m-push-1of4 {
    left: 25%;
    right: auto; }
  .m-offset-1of4 {
    margin-left: 25%; }
  .m-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .m-flow-left {
    float: left;
    margin-left: 0; }
  .m-flow-right {
    float: right;
    margin-right: 0; }
  .m-span-2of4 {
    width: 50%; }
  .m-pull-2of4 {
    left: auto;
    right: 50%; }
  .m-push-2of4 {
    left: 50%;
    right: auto; }
  .m-offset-2of4 {
    margin-left: 50%; }
  .m-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .m-flow-left {
    float: left;
    margin-left: 0; }
  .m-flow-right {
    float: right;
    margin-right: 0; }
  .m-span-3of4 {
    width: 75%; }
  .m-pull-3of4 {
    left: auto;
    right: 75%; }
  .m-push-3of4 {
    left: 75%;
    right: auto; }
  .m-offset-3of4 {
    margin-left: 75%; }
  .m-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .m-flow-left {
    float: left;
    margin-left: 0; }
  .m-flow-right {
    float: right;
    margin-right: 0; }
  .m-span-1of5 {
    width: 20%; }
  .m-pull-1of5 {
    left: auto;
    right: 20%; }
  .m-push-1of5 {
    left: 20%;
    right: auto; }
  .m-offset-1of5 {
    margin-left: 20%; }
  .m-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .m-flow-left {
    float: left;
    margin-left: 0; }
  .m-flow-right {
    float: right;
    margin-right: 0; }
  .m-span-2of5 {
    width: 40%; }
  .m-pull-2of5 {
    left: auto;
    right: 40%; }
  .m-push-2of5 {
    left: 40%;
    right: auto; }
  .m-offset-2of5 {
    margin-left: 40%; }
  .m-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .m-flow-left {
    float: left;
    margin-left: 0; }
  .m-flow-right {
    float: right;
    margin-right: 0; }
  .m-span-3of5 {
    width: 60%; }
  .m-pull-3of5 {
    left: auto;
    right: 60%; }
  .m-push-3of5 {
    left: 60%;
    right: auto; }
  .m-offset-3of5 {
    margin-left: 60%; }
  .m-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .m-flow-left {
    float: left;
    margin-left: 0; }
  .m-flow-right {
    float: right;
    margin-right: 0; }
  .m-span-4of5 {
    width: 80%; }
  .m-pull-4of5 {
    left: auto;
    right: 80%; }
  .m-push-4of5 {
    left: 80%;
    right: auto; }
  .m-offset-4of5 {
    margin-left: 80%; }
  .m-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .m-flow-left {
    float: left;
    margin-left: 0; }
  .m-flow-right {
    float: right;
    margin-right: 0; }
  .m-span-1of6 {
    width: 16.66667%; }
  .m-pull-1of6 {
    left: auto;
    right: 16.66667%; }
  .m-push-1of6 {
    left: 16.66667%;
    right: auto; }
  .m-offset-1of6 {
    margin-left: 16.66667%; }
  .m-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .m-flow-left {
    float: left;
    margin-left: 0; }
  .m-flow-right {
    float: right;
    margin-right: 0; }
  .m-span-2of6 {
    width: 33.33333%; }
  .m-pull-2of6 {
    left: auto;
    right: 33.33333%; }
  .m-push-2of6 {
    left: 33.33333%;
    right: auto; }
  .m-offset-2of6 {
    margin-left: 33.33333%; }
  .m-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .m-flow-left {
    float: left;
    margin-left: 0; }
  .m-flow-right {
    float: right;
    margin-right: 0; }
  .m-span-3of6 {
    width: 50%; }
  .m-pull-3of6 {
    left: auto;
    right: 50%; }
  .m-push-3of6 {
    left: 50%;
    right: auto; }
  .m-offset-3of6 {
    margin-left: 50%; }
  .m-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .m-flow-left {
    float: left;
    margin-left: 0; }
  .m-flow-right {
    float: right;
    margin-right: 0; }
  .m-span-4of6 {
    width: 66.66667%; }
  .m-pull-4of6 {
    left: auto;
    right: 66.66667%; }
  .m-push-4of6 {
    left: 66.66667%;
    right: auto; }
  .m-offset-4of6 {
    margin-left: 66.66667%; }
  .m-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .m-flow-left {
    float: left;
    margin-left: 0; }
  .m-flow-right {
    float: right;
    margin-right: 0; }
  .m-span-5of6 {
    width: 83.33333%; }
  .m-pull-5of6 {
    left: auto;
    right: 83.33333%; }
  .m-push-5of6 {
    left: 83.33333%;
    right: auto; }
  .m-offset-5of6 {
    margin-left: 83.33333%; }
  .m-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .m-flow-left {
    float: left;
    margin-left: 0; }
  .m-flow-right {
    float: right;
    margin-right: 0; }
  .m-offset-none {
    margin-left: 0; } }

@media only screen and (min-width:64.063em) {
  .l-gutter-n > .group {
    margin-left: -0;
    width: 100%;
    width: calc(100% + 0); }
    .l-gutter-n > .group > [class*="span-"] {
      padding-left: 0;
      padding-right: 0; }
  .l-gutter-x > .group {
    margin-left: -3px;
    width: 100%;
    width: calc(100% + 6px); }
    .l-gutter-x > .group > [class*="span-"] {
      padding-left: 3px;
      padding-right: 3px; }
  .l-gutter-s > .group {
    margin-left: -5px;
    width: 100%;
    width: calc(100% + 10px); }
    .l-gutter-s > .group > [class*="span-"] {
      padding-left: 5px;
      padding-right: 5px; }
  .l-gutter-m > .group {
    margin-left: -10px;
    width: 100%;
    width: calc(100% + 20px); }
    .l-gutter-m > .group > [class*="span-"] {
      padding-left: 10px;
      padding-right: 10px; }
  .l-gutter-l > .group {
    margin-left: -30px;
    width: 100%;
    width: calc(100% + 60px); }
    .l-gutter-l > .group > [class*="span-"] {
      padding-left: 30px;
      padding-right: 30px; }
  .l-gutter-h > .group {
    margin-left: -80px;
    width: 100%;
    width: calc(100% + 160px); }
    .l-gutter-h > .group > [class*="span-"] {
      padding-left: 80px;
      padding-right: 80px; }
  .l-span-1of1 {
    width: 100%; }
  .l-pull-1of1 {
    left: auto;
    right: 100%; }
  .l-push-1of1 {
    left: 100%;
    right: auto; }
  .l-offset-1of1 {
    margin-left: 100%; }
  .l-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .l-flow-left {
    float: left;
    margin-left: 0; }
  .l-flow-right {
    float: right;
    margin-right: 0; }
  .l-span-1of2 {
    width: 50%; }
  .l-pull-1of2 {
    left: auto;
    right: 50%; }
  .l-push-1of2 {
    left: 50%;
    right: auto; }
  .l-offset-1of2 {
    margin-left: 50%; }
  .l-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .l-flow-left {
    float: left;
    margin-left: 0; }
  .l-flow-right {
    float: right;
    margin-right: 0; }
  .l-span-1of3 {
    width: 33.33333%; }
  .l-pull-1of3 {
    left: auto;
    right: 33.33333%; }
  .l-push-1of3 {
    left: 33.33333%;
    right: auto; }
  .l-offset-1of3 {
    margin-left: 33.33333%; }
  .l-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .l-flow-left {
    float: left;
    margin-left: 0; }
  .l-flow-right {
    float: right;
    margin-right: 0; }
  .l-span-2of3 {
    width: 66.66667%; }
  .l-pull-2of3 {
    left: auto;
    right: 66.66667%; }
  .l-push-2of3 {
    left: 66.66667%;
    right: auto; }
  .l-offset-2of3 {
    margin-left: 66.66667%; }
  .l-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .l-flow-left {
    float: left;
    margin-left: 0; }
  .l-flow-right {
    float: right;
    margin-right: 0; }
  .l-span-1of4 {
    width: 25%; }
  .l-pull-1of4 {
    left: auto;
    right: 25%; }
  .l-push-1of4 {
    left: 25%;
    right: auto; }
  .l-offset-1of4 {
    margin-left: 25%; }
  .l-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .l-flow-left {
    float: left;
    margin-left: 0; }
  .l-flow-right {
    float: right;
    margin-right: 0; }
  .l-span-2of4 {
    width: 50%; }
  .l-pull-2of4 {
    left: auto;
    right: 50%; }
  .l-push-2of4 {
    left: 50%;
    right: auto; }
  .l-offset-2of4 {
    margin-left: 50%; }
  .l-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .l-flow-left {
    float: left;
    margin-left: 0; }
  .l-flow-right {
    float: right;
    margin-right: 0; }
  .l-span-3of4 {
    width: 75%; }
  .l-pull-3of4 {
    left: auto;
    right: 75%; }
  .l-push-3of4 {
    left: 75%;
    right: auto; }
  .l-offset-3of4 {
    margin-left: 75%; }
  .l-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .l-flow-left {
    float: left;
    margin-left: 0; }
  .l-flow-right {
    float: right;
    margin-right: 0; }
  .l-span-1of5 {
    width: 20%; }
  .l-pull-1of5 {
    left: auto;
    right: 20%; }
  .l-push-1of5 {
    left: 20%;
    right: auto; }
  .l-offset-1of5 {
    margin-left: 20%; }
  .l-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .l-flow-left {
    float: left;
    margin-left: 0; }
  .l-flow-right {
    float: right;
    margin-right: 0; }
  .l-span-2of5 {
    width: 40%; }
  .l-pull-2of5 {
    left: auto;
    right: 40%; }
  .l-push-2of5 {
    left: 40%;
    right: auto; }
  .l-offset-2of5 {
    margin-left: 40%; }
  .l-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .l-flow-left {
    float: left;
    margin-left: 0; }
  .l-flow-right {
    float: right;
    margin-right: 0; }
  .l-span-3of5 {
    width: 60%; }
  .l-pull-3of5 {
    left: auto;
    right: 60%; }
  .l-push-3of5 {
    left: 60%;
    right: auto; }
  .l-offset-3of5 {
    margin-left: 60%; }
  .l-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .l-flow-left {
    float: left;
    margin-left: 0; }
  .l-flow-right {
    float: right;
    margin-right: 0; }
  .l-span-4of5 {
    width: 80%; }
  .l-pull-4of5 {
    left: auto;
    right: 80%; }
  .l-push-4of5 {
    left: 80%;
    right: auto; }
  .l-offset-4of5 {
    margin-left: 80%; }
  .l-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .l-flow-left {
    float: left;
    margin-left: 0; }
  .l-flow-right {
    float: right;
    margin-right: 0; }
  .l-span-1of6 {
    width: 16.66667%; }
  .l-pull-1of6 {
    left: auto;
    right: 16.66667%; }
  .l-push-1of6 {
    left: 16.66667%;
    right: auto; }
  .l-offset-1of6 {
    margin-left: 16.66667%; }
  .l-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .l-flow-left {
    float: left;
    margin-left: 0; }
  .l-flow-right {
    float: right;
    margin-right: 0; }
  .l-span-2of6 {
    width: 33.33333%; }
  .l-pull-2of6 {
    left: auto;
    right: 33.33333%; }
  .l-push-2of6 {
    left: 33.33333%;
    right: auto; }
  .l-offset-2of6 {
    margin-left: 33.33333%; }
  .l-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .l-flow-left {
    float: left;
    margin-left: 0; }
  .l-flow-right {
    float: right;
    margin-right: 0; }
  .l-span-3of6 {
    width: 50%; }
  .l-pull-3of6 {
    left: auto;
    right: 50%; }
  .l-push-3of6 {
    left: 50%;
    right: auto; }
  .l-offset-3of6 {
    margin-left: 50%; }
  .l-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .l-flow-left {
    float: left;
    margin-left: 0; }
  .l-flow-right {
    float: right;
    margin-right: 0; }
  .l-span-4of6 {
    width: 66.66667%; }
  .l-pull-4of6 {
    left: auto;
    right: 66.66667%; }
  .l-push-4of6 {
    left: 66.66667%;
    right: auto; }
  .l-offset-4of6 {
    margin-left: 66.66667%; }
  .l-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .l-flow-left {
    float: left;
    margin-left: 0; }
  .l-flow-right {
    float: right;
    margin-right: 0; }
  .l-span-5of6 {
    width: 83.33333%; }
  .l-pull-5of6 {
    left: auto;
    right: 83.33333%; }
  .l-push-5of6 {
    left: 83.33333%;
    right: auto; }
  .l-offset-5of6 {
    margin-left: 83.33333%; }
  .l-center {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .l-flow-left {
    float: left;
    margin-left: 0; }
  .l-flow-right {
    float: right;
    margin-right: 0; }
  .l-offset-none {
    margin-left: 0; } }

/**
 * Catalyst Spaces
 *
 * Spaces define the distance beween components in a layout. They follow
 * a brief but powerful naming convention:
 *
 *                               TYPE       SIDES         SPACE
 *     <div class="plm"></div>   <p>adding  <l>eft        <m>edium
 *     <div class="mbs"></div>   <m>argin   <b>ottom      <s>mall
 *     <div class="pvs"></div>   <p>adding  <v>ertical    <s>mall
 *     <div class="mhl"></div>   <m>argin   <h>orizontal  <l>arge
 *
 * Types  - <p>adding, <m>argin
 * Sides  - <a>ll, <t>op, <r>ight, <b>ottom, <l>eft, <h>orizontal, <v>ertical
 * Spaces - As defined in the global $spaces variable, e.g. <n>one, <s>mall, <l>arge
 *
 * spaces-install           - make the space classes available to CSS
 * space(type, side, space) - set margin/padding according to space definition
 */
.pan, .pvn, .ptn {
  padding-top: 0 !important; }

.pan, .pvn, .pbn {
  padding-bottom: 0 !important; }

.pan, .phn, .prn {
  padding-right: 0 !important; }

.pan, .phn, .pln {
  padding-left: 0 !important; }

.man, .mvn, .mtn {
  margin-top: 0 !important; }

.man, .mvn, .mbn {
  margin-bottom: 0 !important; }

.man, .mhn, .mrn {
  margin-right: 0 !important; }

.man, .mhn, .mln {
  margin-left: 0 !important; }

.pax, .pvx, .ptx {
  padding-top: 3px !important; }

.pax, .pvx, .pbx {
  padding-bottom: 3px !important; }

.pax, .phx, .prx {
  padding-right: 3px !important; }

.pax, .phx, .plx {
  padding-left: 3px !important; }

.max, .mvx, .mtx {
  margin-top: 3px !important; }

.max, .mvx, .mbx {
  margin-bottom: 3px !important; }

.max, .mhx, .mrx {
  margin-right: 3px !important; }

.max, .mhx, .mlx {
  margin-left: 3px !important; }

.pas, .pvs, .pts {
  padding-top: 5px !important; }

.pas, .pvs, .pbs {
  padding-bottom: 5px !important; }

.pas, .phs, .prs {
  padding-right: 5px !important; }

.pas, .phs, .pls {
  padding-left: 5px !important; }

.mas, .mvs, .mts {
  margin-top: 5px !important; }

.mas, .mvs, .mbs {
  margin-bottom: 5px !important; }

.mas, .mhs, .mrs {
  margin-right: 5px !important; }

.mas, .mhs, .mls {
  margin-left: 5px !important; }

.pam, .pvm, .ptm {
  padding-top: 10px !important; }

.pam, .pvm, .pbm {
  padding-bottom: 10px !important; }

.pam, .phm, .prm {
  padding-right: 10px !important; }

.pam, .phm, .plm {
  padding-left: 10px !important; }

.mam, .mvm, .mtm {
  margin-top: 10px !important; }

.mam, .mvm, .mbm {
  margin-bottom: 10px !important; }

.mam, .mhm, .mrm {
  margin-right: 10px !important; }

.mam, .mhm, .mlm {
  margin-left: 10px !important; }

.pal, .pvl, .ptl {
  padding-top: 30px !important; }

.pal, .pvl, .pbl {
  padding-bottom: 30px !important; }

.pal, .phl, .prl {
  padding-right: 30px !important; }

.pal, .phl, .pll {
  padding-left: 30px !important; }

.mal, .mvl, .mtl {
  margin-top: 30px !important; }

.mal, .mvl, .mbl {
  margin-bottom: 30px !important; }

.mal, .mhl, .mrl {
  margin-right: 30px !important; }

.mal, .mhl, .mll {
  margin-left: 30px !important; }

.pah, .pvh, .pth {
  padding-top: 80px !important; }

.pah, .pvh, .pbh {
  padding-bottom: 80px !important; }

.pah, .phh, .prh {
  padding-right: 80px !important; }

.pah, .phh, .plh {
  padding-left: 80px !important; }

.mah, .mvh, .mth {
  margin-top: 80px !important; }

.mah, .mvh, .mbh {
  margin-bottom: 80px !important; }

.mah, .mhh, .mrh {
  margin-right: 80px !important; }

.mah, .mhh, .mlh {
  margin-left: 80px !important; }

@media only screen {
  .s-pan, .s-pvn, .s-ptn {
    padding-top: 0 !important; }
  .s-pan, .s-pvn, .s-pbn {
    padding-bottom: 0 !important; }
  .s-pan, .s-phn, .s-prn {
    padding-right: 0 !important; }
  .s-pan, .s-phn, .s-pln {
    padding-left: 0 !important; }
  .s-man, .s-mvn, .s-mtn {
    margin-top: 0 !important; }
  .s-man, .s-mvn, .s-mbn {
    margin-bottom: 0 !important; }
  .s-man, .s-mhn, .s-mrn {
    margin-right: 0 !important; }
  .s-man, .s-mhn, .s-mln {
    margin-left: 0 !important; }
  .s-pax, .s-pvx, .s-ptx {
    padding-top: 3px !important; }
  .s-pax, .s-pvx, .s-pbx {
    padding-bottom: 3px !important; }
  .s-pax, .s-phx, .s-prx {
    padding-right: 3px !important; }
  .s-pax, .s-phx, .s-plx {
    padding-left: 3px !important; }
  .s-max, .s-mvx, .s-mtx {
    margin-top: 3px !important; }
  .s-max, .s-mvx, .s-mbx {
    margin-bottom: 3px !important; }
  .s-max, .s-mhx, .s-mrx {
    margin-right: 3px !important; }
  .s-max, .s-mhx, .s-mlx {
    margin-left: 3px !important; }
  .s-pas, .s-pvs, .s-pts {
    padding-top: 5px !important; }
  .s-pas, .s-pvs, .s-pbs {
    padding-bottom: 5px !important; }
  .s-pas, .s-phs, .s-prs {
    padding-right: 5px !important; }
  .s-pas, .s-phs, .s-pls {
    padding-left: 5px !important; }
  .s-mas, .s-mvs, .s-mts {
    margin-top: 5px !important; }
  .s-mas, .s-mvs, .s-mbs {
    margin-bottom: 5px !important; }
  .s-mas, .s-mhs, .s-mrs {
    margin-right: 5px !important; }
  .s-mas, .s-mhs, .s-mls {
    margin-left: 5px !important; }
  .s-pam, .s-pvm, .s-ptm {
    padding-top: 10px !important; }
  .s-pam, .s-pvm, .s-pbm {
    padding-bottom: 10px !important; }
  .s-pam, .s-phm, .s-prm {
    padding-right: 10px !important; }
  .s-pam, .s-phm, .s-plm {
    padding-left: 10px !important; }
  .s-mam, .s-mvm, .s-mtm {
    margin-top: 10px !important; }
  .s-mam, .s-mvm, .s-mbm {
    margin-bottom: 10px !important; }
  .s-mam, .s-mhm, .s-mrm {
    margin-right: 10px !important; }
  .s-mam, .s-mhm, .s-mlm {
    margin-left: 10px !important; }
  .s-pal, .s-pvl, .s-ptl {
    padding-top: 30px !important; }
  .s-pal, .s-pvl, .s-pbl {
    padding-bottom: 30px !important; }
  .s-pal, .s-phl, .s-prl {
    padding-right: 30px !important; }
  .s-pal, .s-phl, .s-pll {
    padding-left: 30px !important; }
  .s-mal, .s-mvl, .s-mtl {
    margin-top: 30px !important; }
  .s-mal, .s-mvl, .s-mbl {
    margin-bottom: 30px !important; }
  .s-mal, .s-mhl, .s-mrl {
    margin-right: 30px !important; }
  .s-mal, .s-mhl, .s-mll {
    margin-left: 30px !important; }
  .s-pah, .s-pvh, .s-pth {
    padding-top: 80px !important; }
  .s-pah, .s-pvh, .s-pbh {
    padding-bottom: 80px !important; }
  .s-pah, .s-phh, .s-prh {
    padding-right: 80px !important; }
  .s-pah, .s-phh, .s-plh {
    padding-left: 80px !important; }
  .s-mah, .s-mvh, .s-mth {
    margin-top: 80px !important; }
  .s-mah, .s-mvh, .s-mbh {
    margin-bottom: 80px !important; }
  .s-mah, .s-mhh, .s-mrh {
    margin-right: 80px !important; }
  .s-mah, .s-mhh, .s-mlh {
    margin-left: 80px !important; } }

@media only screen and (min-width:40.063em) {
  .m-pan, .m-pvn, .m-ptn {
    padding-top: 0 !important; }
  .m-pan, .m-pvn, .m-pbn {
    padding-bottom: 0 !important; }
  .m-pan, .m-phn, .m-prn {
    padding-right: 0 !important; }
  .m-pan, .m-phn, .m-pln {
    padding-left: 0 !important; }
  .m-man, .m-mvn, .m-mtn {
    margin-top: 0 !important; }
  .m-man, .m-mvn, .m-mbn {
    margin-bottom: 0 !important; }
  .m-man, .m-mhn, .m-mrn {
    margin-right: 0 !important; }
  .m-man, .m-mhn, .m-mln {
    margin-left: 0 !important; }
  .m-pax, .m-pvx, .m-ptx {
    padding-top: 3px !important; }
  .m-pax, .m-pvx, .m-pbx {
    padding-bottom: 3px !important; }
  .m-pax, .m-phx, .m-prx {
    padding-right: 3px !important; }
  .m-pax, .m-phx, .m-plx {
    padding-left: 3px !important; }
  .m-max, .m-mvx, .m-mtx {
    margin-top: 3px !important; }
  .m-max, .m-mvx, .m-mbx {
    margin-bottom: 3px !important; }
  .m-max, .m-mhx, .m-mrx {
    margin-right: 3px !important; }
  .m-max, .m-mhx, .m-mlx {
    margin-left: 3px !important; }
  .m-pas, .m-pvs, .m-pts {
    padding-top: 5px !important; }
  .m-pas, .m-pvs, .m-pbs {
    padding-bottom: 5px !important; }
  .m-pas, .m-phs, .m-prs {
    padding-right: 5px !important; }
  .m-pas, .m-phs, .m-pls {
    padding-left: 5px !important; }
  .m-mas, .m-mvs, .m-mts {
    margin-top: 5px !important; }
  .m-mas, .m-mvs, .m-mbs {
    margin-bottom: 5px !important; }
  .m-mas, .m-mhs, .m-mrs {
    margin-right: 5px !important; }
  .m-mas, .m-mhs, .m-mls {
    margin-left: 5px !important; }
  .m-pam, .m-pvm, .m-ptm {
    padding-top: 10px !important; }
  .m-pam, .m-pvm, .m-pbm {
    padding-bottom: 10px !important; }
  .m-pam, .m-phm, .m-prm {
    padding-right: 10px !important; }
  .m-pam, .m-phm, .m-plm {
    padding-left: 10px !important; }
  .m-mam, .m-mvm, .m-mtm {
    margin-top: 10px !important; }
  .m-mam, .m-mvm, .m-mbm {
    margin-bottom: 10px !important; }
  .m-mam, .m-mhm, .m-mrm {
    margin-right: 10px !important; }
  .m-mam, .m-mhm, .m-mlm {
    margin-left: 10px !important; }
  .m-pal, .m-pvl, .m-ptl {
    padding-top: 30px !important; }
  .m-pal, .m-pvl, .m-pbl {
    padding-bottom: 30px !important; }
  .m-pal, .m-phl, .m-prl {
    padding-right: 30px !important; }
  .m-pal, .m-phl, .m-pll {
    padding-left: 30px !important; }
  .m-mal, .m-mvl, .m-mtl {
    margin-top: 30px !important; }
  .m-mal, .m-mvl, .m-mbl {
    margin-bottom: 30px !important; }
  .m-mal, .m-mhl, .m-mrl {
    margin-right: 30px !important; }
  .m-mal, .m-mhl, .m-mll {
    margin-left: 30px !important; }
  .m-pah, .m-pvh, .m-pth {
    padding-top: 80px !important; }
  .m-pah, .m-pvh, .m-pbh {
    padding-bottom: 80px !important; }
  .m-pah, .m-phh, .m-prh {
    padding-right: 80px !important; }
  .m-pah, .m-phh, .m-plh {
    padding-left: 80px !important; }
  .m-mah, .m-mvh, .m-mth {
    margin-top: 80px !important; }
  .m-mah, .m-mvh, .m-mbh {
    margin-bottom: 80px !important; }
  .m-mah, .m-mhh, .m-mrh {
    margin-right: 80px !important; }
  .m-mah, .m-mhh, .m-mlh {
    margin-left: 80px !important; } }

@media only screen and (min-width:64.063em) {
  .l-pan, .l-pvn, .l-ptn {
    padding-top: 0 !important; }
  .l-pan, .l-pvn, .l-pbn {
    padding-bottom: 0 !important; }
  .l-pan, .l-phn, .l-prn {
    padding-right: 0 !important; }
  .l-pan, .l-phn, .l-pln {
    padding-left: 0 !important; }
  .l-man, .l-mvn, .l-mtn {
    margin-top: 0 !important; }
  .l-man, .l-mvn, .l-mbn {
    margin-bottom: 0 !important; }
  .l-man, .l-mhn, .l-mrn {
    margin-right: 0 !important; }
  .l-man, .l-mhn, .l-mln {
    margin-left: 0 !important; }
  .l-pax, .l-pvx, .l-ptx {
    padding-top: 3px !important; }
  .l-pax, .l-pvx, .l-pbx {
    padding-bottom: 3px !important; }
  .l-pax, .l-phx, .l-prx {
    padding-right: 3px !important; }
  .l-pax, .l-phx, .l-plx {
    padding-left: 3px !important; }
  .l-max, .l-mvx, .l-mtx {
    margin-top: 3px !important; }
  .l-max, .l-mvx, .l-mbx {
    margin-bottom: 3px !important; }
  .l-max, .l-mhx, .l-mrx {
    margin-right: 3px !important; }
  .l-max, .l-mhx, .l-mlx {
    margin-left: 3px !important; }
  .l-pas, .l-pvs, .l-pts {
    padding-top: 5px !important; }
  .l-pas, .l-pvs, .l-pbs {
    padding-bottom: 5px !important; }
  .l-pas, .l-phs, .l-prs {
    padding-right: 5px !important; }
  .l-pas, .l-phs, .l-pls {
    padding-left: 5px !important; }
  .l-mas, .l-mvs, .l-mts {
    margin-top: 5px !important; }
  .l-mas, .l-mvs, .l-mbs {
    margin-bottom: 5px !important; }
  .l-mas, .l-mhs, .l-mrs {
    margin-right: 5px !important; }
  .l-mas, .l-mhs, .l-mls {
    margin-left: 5px !important; }
  .l-pam, .l-pvm, .l-ptm {
    padding-top: 10px !important; }
  .l-pam, .l-pvm, .l-pbm {
    padding-bottom: 10px !important; }
  .l-pam, .l-phm, .l-prm {
    padding-right: 10px !important; }
  .l-pam, .l-phm, .l-plm {
    padding-left: 10px !important; }
  .l-mam, .l-mvm, .l-mtm {
    margin-top: 10px !important; }
  .l-mam, .l-mvm, .l-mbm {
    margin-bottom: 10px !important; }
  .l-mam, .l-mhm, .l-mrm {
    margin-right: 10px !important; }
  .l-mam, .l-mhm, .l-mlm {
    margin-left: 10px !important; }
  .l-pal, .l-pvl, .l-ptl {
    padding-top: 30px !important; }
  .l-pal, .l-pvl, .l-pbl {
    padding-bottom: 30px !important; }
  .l-pal, .l-phl, .l-prl {
    padding-right: 30px !important; }
  .l-pal, .l-phl, .l-pll {
    padding-left: 30px !important; }
  .l-mal, .l-mvl, .l-mtl {
    margin-top: 30px !important; }
  .l-mal, .l-mvl, .l-mbl {
    margin-bottom: 30px !important; }
  .l-mal, .l-mhl, .l-mrl {
    margin-right: 30px !important; }
  .l-mal, .l-mhl, .l-mll {
    margin-left: 30px !important; }
  .l-pah, .l-pvh, .l-pth {
    padding-top: 80px !important; }
  .l-pah, .l-pvh, .l-pbh {
    padding-bottom: 80px !important; }
  .l-pah, .l-phh, .l-prh {
    padding-right: 80px !important; }
  .l-pah, .l-phh, .l-plh {
    padding-left: 80px !important; }
  .l-mah, .l-mvh, .l-mth {
    margin-top: 80px !important; }
  .l-mah, .l-mvh, .l-mbh {
    margin-bottom: 80px !important; }
  .l-mah, .l-mhh, .l-mrh {
    margin-right: 80px !important; }
  .l-mah, .l-mhh, .l-mlh {
    margin-left: 80px !important; } }

/**
 * Catalyst Visibility
 *
 * Hide elements for certain viewports. There is no 'show' element
 * because that would break some display properties. Instead, be
 * precise with hiding things and use the provided classes for hiding.
 *
 * visibility-install - make the visibility classes available to CSS

 * hide(breakpoint)   - hide for a breakpoint
 *                      available as .hide, .hide-down, .hide-only
 *                      and as .v-hide, .h-hide for screen orientation
 *                      (portrait, landscape)
 */
.hide {
  display: none !important; }

@media only screen {
  .s-hide {
    display: none !important; } }

@media only screen and (max-width:40em) {
  .s-hide-down {
    display: none !important; } }

@media only screen and (min-width:0em) and (max-width:40em) {
  .s-hide-only {
    display: none !important; } }

@media only screen and (min-width:40.063em) {
  .m-hide {
    display: none !important; } }

@media only screen and (max-width:64em) {
  .m-hide-down {
    display: none !important; } }

@media only screen and (min-width:40.063em) and (max-width:64em) {
  .m-hide-only {
    display: none !important; } }

@media only screen and (min-width:64.063em) {
  .l-hide {
    display: none !important; } }

@media only screen and (max-width:90em) {
  .l-hide-down {
    display: none !important; } }

@media only screen and (min-width:64.063em) and (max-width:90em) {
  .l-hide-only {
    display: none !important; } }

@media only screen and (orientation: portrait) {
  .v-hide-only {
    display: none !important; } }

@media only screen and (orientation: landscape) {
  .h-hide-only {
    display: none !important; } }

/**
 * Catalyst Utilities
 *
 * utilities-install - make the utility classes available to CSS
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.float-none {
  float: none !important; }

.align-left {
  text-align: left !important; }

.align-right {
  text-align: right !important; }

.align-center {
  text-align: center !important; }

.align-justify {
  text-align: justify !important; }

.align-none {
  text-align: inherit !important; }

@media only screen {
  .s-float-left {
    float: left !important; }
  .s-float-right {
    float: right !important; }
  .s-float-none {
    float: none !important; }
  .s-align-left {
    text-align: left !important; }
  .s-align-right {
    text-align: right !important; }
  .s-align-center {
    text-align: center !important; }
  .s-align-justify {
    text-align: justify !important; }
  .s-align-none {
    text-align: inherit !important; } }

@media only screen and (min-width:40.063em) {
  .m-float-left {
    float: left !important; }
  .m-float-right {
    float: right !important; }
  .m-float-none {
    float: none !important; }
  .m-align-left {
    text-align: left !important; }
  .m-align-right {
    text-align: right !important; }
  .m-align-center {
    text-align: center !important; }
  .m-align-justify {
    text-align: justify !important; }
  .m-align-none {
    text-align: inherit !important; } }

@media only screen and (min-width:64.063em) {
  .l-float-left {
    float: left !important; }
  .l-float-right {
    float: right !important; }
  .l-float-none {
    float: none !important; }
  .l-align-left {
    text-align: left !important; }
  .l-align-right {
    text-align: right !important; }
  .l-align-center {
    text-align: center !important; }
  .l-align-justify {
    text-align: justify !important; }
  .l-align-none {
    text-align: inherit !important; } }

/* Settings
----------------------------------------------- */
/*
  ===============================================
  # CONFIG
  ===============================================
*/
/* Colors
----------------------------------------------- */
/* Shadows and glows
----------------------------------------------- */
/* Typography
----------------------------------------------- */
/* Spaces
----------------------------------------------- */
/* Border Radii
----------------------------------------------- */
/* Default Definitions
----------------------------------------------- */
/* Library
----------------------------------------------- */
/**
 * Fill text selection
 * ============================================ */
/**
 * Hyphenate
 * ============================================ */
/**
 * Paints
 * ============================================ */
/**
 * Position
 * ============================================ */
/**
 * Set Size
 * ============================================ */
/**
 * Set Type
 * ============================================ */
/**
 * Truncate
 * ============================================ */
/* Base
----------------------------------------------- */
/**
 * Base
 * ============================================ */
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto; }

body {
  background: #fff;
  color: #606060;
  /* Safari */
  /* Firefox */
  font-size: 16px;
  line-height: 1.5em;
  font-family: 'Helvetica Neue', Arial, sans-serif; }
  body * {
    border-color: #DADFE1; }
  body ::selection {
    background: #DBF5FA; }
  body ::-moz-selection {
    background: #DBF5FA; }

body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Components
----------------------------------------------- */
/**
 * Inputs
 * ============================================ */
.text-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5em;
  border: none;
  box-shadow: none;
  display: block;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding: 10px;
  text-indent: 0;
  width: 100%; }

/**
 * Highlights
 * ============================================ */
.highlight {
  font-weight: 700;
  background: #DBF5FA; }

/**
 * Links
 * ============================================ */
a {
  color: inherit;
  text-decoration: none; }

/**
 * Preloaders
 * ============================================ */
.preloader--large, .preloader--small {
  display: block;
  margin: 0 auto;
  text-align: center; }
  .preloader--large .preloader__blob1, .preloader--small .preloader__blob1 {
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    animation-delay: 0; }
  .preloader--large .preloader__blob2, .preloader--small .preloader__blob2 {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    animation-delay: 0.25s; }
  .preloader--large .preloader__blob3, .preloader--small .preloader__blob3 {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s; }

.preloader--large > div, .preloader--small > div {
  -webkit-animation: preloader 1.5s infinite ease-in-out;
  -moz-animation: preloader 1.5s infinite ease-in-out;
  animation: preloader 1.5s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  background-color: rgba(0, 0, 0, 0.29);
  border-radius: 100%;
  display: inline-block; }

/* Size Variations
----------------------------------------------- */
.preloader--large {
  width: 50px; }
  .preloader--large > div {
    width: 8px;
    height: 8px; }

.preloader--small {
  width: 16px; }
  .preloader--small > div {
    width: 3px;
    height: 3px; }

/* Colour Modifiers
----------------------------------------------- */
.preloader--inverted > div {
  background: rgba(255, 255, 255, 0.29); }

/* Animation
----------------------------------------------- */
@-webkit-keyframes preloader {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@keyframes preloader {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

/**
 * Separators
 * ============================================ */
.separator--strong, .separator--weak {
  border-color: #DADFE1;
  border-width: 1px 0 0 0;
  clear: none;
  margin: 5px 0; }

.separator--strong {
  border-style: solid; }

.separator--weak {
  border-style: dotted; }

/**
 * Thumbnails
 * ============================================ */
.thumbnail {
  display: block; }

.thumbnail__image {
  width: 100%; }

/**
 * Tiles
 * ============================================ */
.tile {
  position: relative; }

.tile__figure {
  padding-right: 10px; }

.tile__meta {
  font-size: 12px;
  line-height: 1.5em; }

.tile__title {
  font-size: 12px;
  line-height: 1.5em;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  margin-top: 5px;
  opacity: 0.5; }

.tile__text {
  font-size: 12px;
  line-height: 1.5em;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  opacity: 0.5; }

.tile__transcript {
  font-size: 12px;
  line-height: 1.5em; }

/**
 * Timestamps
 * ============================================ */
.timestamp {
  opacity: 0.5; }
  .timestamp:after {
    content: " ›"; }

/**
 * Toolbars
 * ============================================ */
.toolbar {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.29); }

/* Combos
----------------------------------------------- */
/**
 * Page footer
 * ============================================ */
.footer {
  border-top-width: 1px;
  border-top-style: solid;
  padding: 10px;
  text-align: center; }

/**
 * Page header
 * ============================================ */
.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 10px;
  text-align: center;
  height: 60px; }

/**
 * Listing
 * ============================================ */
.listing {
  margin-bottom: -1px; }

.listing__item {
  border-style: solid;
  border-width: 0 0 1px 0;
  padding: 10px; }

/* Top layer
----------------------------------------------- */
/*
  ===============================================
  # LAYOUT
  ===============================================
*/
.site-side {
  position: absolute;
  top: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 265px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  box-shadow: 0 5px -5px rgba(0, 0, 0, 0.71);
  overflow-y: auto;
  position: fixed; }
  .site-side.moved {
    -webkit-transform: translate3d(-265px, 0, 0);
    -moz-transform: translate3d(-265px, 0, 0);
    -ms-transform: translate3d(-265px, 0, 0);
    -o-transform: translate3d(-265px, 0, 0);
    transform: translate3d(-265px, 0, 0); }

.site-body {
  height: 100%; }

.header {
  height: 50px; }

html, body {
  height: 100%; }

.wrapper {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -50px; }
  .wrapper .push {
    height: 50px; }

.footer {
  clear: both;
  position: relative;
  height: 50px; }
