<aside id="page-side--left" class="page-side page-side--left moved" data-side-push="right" data-side-state="inactive">
  <div class="page-side__body">
    <div id="page-menu" class="menu" data-active-pane="root">
      <div id="menu__pane--root" class="menu__pane">
        <div class="menu__body">
          <div class="headline" style="background-image: url('{{path}}assets/images/temp8.jpg')">
            <h2 class="headline__title"><i class="icon-home"></i> <a href="{{path}}">{{L.aside-left__title}}</a></h2>
            <p class="headline__text">{{L.aside-left__subtitle}}</p>
          </div>
          <form action="{{path}}search/">
            <div class="search">
              <input class="text-input menu__search" name="search" type="search" placeholder="{{L.search__placeholder}}" value=""/>
              <i class="icon-search"></i>
            </div>
          </form>
          <ol class="menu__list">
            <li class="menu__item">
              <a class="menu__link toggleMenuPane" data-target-menu-pane-id="documentaries">{{L.aside-left__films}} <span class="menu__link-icon"><i class="icon-point-right"></i></span></a>
            </li>
            <li class="menu__item">
              <a class="menu__link toggleMenuPane" data-target-menu-pane-id="themes">{{L.aside-left__glossary}} <span class="menu__link-icon"><i class="icon-point-right"></i></span></a>
            </li>
            <li class="menu__item">
              <a class="menu__link toggleMenuPane" data-target-menu-pane-id="maps">{{L.aside-left__maps}} <span class="menu__link-icon"><i class="icon-point-right"></i></span></a>
            </li>
            <li class="menu__item">
              <a class="menu__link toggleMenuPane" data-target-menu-pane-id="quizzes">{{L.aside-left__quizzes}} <span class="menu__link-icon"><i class="icon-point-right"></i></span></a>
            </li>
          </ol>
          <div class="menu__push"></div>
        </div>
        <div class="menu__foot">
          <span class="brandmark">
            <i class="icon-aj"></i>
          </span>
          <span class="footnotes">
            {{L.aside-left__footAJ}}<br/>
            <a href="{{path}}about/">{{L.aside-left__footProj}}</a> • <a href="{{path}}credits/">{{L.aside-left__footTeam}}</a>
          </span>
        </div>
      </div>
      <div id="menu__pane--documentaries" class="menu__pane moved--right">
        <div class="headline" style="background-image: url('{{path}}assets/images/temp3.jpg')">
          <h2 class="headline__title">{{L.aside-left__films}}</h2>
          <p class="headline__text">{{L.aside-left__filmsintro}}</p>
        </div>
        <ol class="menu__list">
        {{#each nav.films}}
          <li class="menu__item"><a class="menu__link" href="{{../path}}films/{{file}}/">{{label}}</a></li>
        {{/each}}
        </ol>
      </div>
      <div id="menu__pane--themes" class="menu__pane moved--right">
        <div class="headline" style="background-image: url('{{path}}assets/images/temp6.jpg')">
          <h2 class="headline__title">{{L.aside-left__glossary}}</h2>
          <p class="headline__text">{{L.aside-left__glossaryintro}}</p>
        </div>
        <ol class="menu__list">
          <li class="menu__item"><a class="menu__link" href="{{path}}themes/zionism/">Zionism</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}themes/zionism/">Occupation</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}themes/zionism/">Refugees</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}themes/zionism/">Resistance</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}themes/zionism/">Prisoners</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}themes/zionism/">Negotiations</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}themes/zionism/">International Solidarity</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}themes/zionism/">Children</a></li>
        </ol>
      </div>
      <div id="menu__pane--maps" class="menu__pane moved--right">
        <div class="headline" style="background-image: url('{{path}}assets/images/temp8.jpg')">
          <h2 class="headline__title">{{L.aside-left__maps}}</h2>
          <p class="headline__text">{{L.aside-left__mapsintro}}</p>
        </div>
        <h3 class="menu__subtitle">{{L.aside-left__imaps}}</h3>
        <ol class="menu__list">
          <li class="menu__item"><a class="menu__link" href="{{path}}maps/">{{L.aside-left__imaps-1}}</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}maps/">{{L.aside-left__imaps-2}}</a></li>
        </ol>
        <h3 class="menu__subtitle">{{L.aside-left__videomaps}}</h3>
        <ol class="menu__list">
          <li class="menu__item"><a class="menu__link" href="{{path}}remix/view/#/1/{{L.aside-left__videomaps-wall-href}}">{{L.aside-left__videomaps-wall}}</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}remix/view/#/9/{{L.aside-left__videomaps-abc-href}}">{{L.aside-left__videomaps-abc}}</a></li>
        </ol>
      </div>
      <div id="menu__pane--quizzes" class="menu__pane moved--right">
        <div class="headline" style="background-image: url('{{path}}assets/images/temp7.jpg')">
          <h2 class="headline__title">{{L.aside-left__quizzes}}</h2>
          <p class="headline__text">{{L.aside-left__quizzesintro}}</p>
        </div>
        <ol class="menu__list">
          <li class="menu__item"><a class="menu__link" href="{{path}}quizzes/beginner/">{{L.aside-left__quizzes-beginner}}</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}quizzes/advanced/">{{L.aside-left__quizzes-advanced}}</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}quizzes/expert/">{{L.aside-left__quizzes-expert}}</a></li>
        </ol>
      </div>
      <a id="menu-reset" class="menu-reset toggleMenuPane moved" data-target-menu-pane-id="root" aria-hidden="false">
        <span class="menu__link-icon">
          <i class="icon-point-left"></i>
        </span>
      </a>
    </div>
  </div>
</aside>