<aside id="page-side--right" class="page-side page-side--right moved" data-side-push="left" data-side-state="inactive">
  <div class="page-side__body">
    <div class="headline mbs" style="background-image: url('{{path}}assets/images/temp11.jpg')">
      <h2 class="headline__title">{{L.aside-right__share-page}}</h2>
      <p class="headline__text">{{L.aside-right__share-page2}}</p>
    </div>
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=UURRLL" class="menu__link--alt jsSetSharePath"><i class="icon-facebook" style="background-color: #3B5998"></i> Facebook</a>
    <a target="_blank" href="https://twitter.com/home?status=UURRLL" class="menu__link--alt jsSetSharePath"><i class="icon-twitter" style="background-color: #4099FF"></i> Twitter</a>
    <a target="_blank" href="https://plus.google.com/share?url=UURRLL" class="menu__link--alt jsSetSharePath"><i class="icon-googleplus" style="background-color: #dd4b39"></i> Google+</a>
    <a href="mailto:?subject=Message%20via%20PALESTINE%20REMIX&amp;body=Hey%2C%20%0A%0Acheck%20this%20page%3A%20UURRLL" class="menu__link--alt jsSetSharePath"><i class="icon-mail"></i> Email</a>
  </div>
</aside>