<aside id="page-side--left" class="page-side page-side--left moved" data-side-push="right" data-side-state="inactive">
  <div class="page-side__body">
    <div id="page-menu" class="menu" data-active-pane="root">
      <div id="menu__pane--root" class="menu__pane">
        <div class="menu__body">
          <div class="headline" style="background-image: url('{{path}}assets/images/temp8.jpg')">
            <h2 class="headline__title"><i class="icon-home"></i> <a href="{{path}}">Palestine Remix</a></h2>
            <p class="headline__text">Start your search and discovery here</p>
          </div>
          <form>
            <div class="search">
              <input class="text-input menu__search" type="search" placeholder="e.g. 1948, Ahmed Abu Al-Sukkhar, Haifa"/>
              <i class="icon-search"></i>
            </div>
          </form>
          <h3 class="menu__subtitle">Explore curated content</h3>
          <ol class="menu__list">
            <li class="menu__item">
              <a class="menu__link toggleMenuPane" data-target-menu-pane-id="documentaries">Films <span class="menu__link-icon"><i class="icon-point-right"></i></span></a>
            </li>
            <li class="menu__item">
              <a class="menu__link toggleMenuPane" data-target-menu-pane-id="remixes">Remixes <span class="menu__link-icon"><i class="icon-point-right"></i></span></a>
            </li>
            <li class="menu__item">
              <a class="menu__link toggleMenuPane" data-target-menu-pane-id="themes">Glossary <span class="menu__link-icon"><i class="icon-point-right"></i></span></a>
            </li>
            <li class="menu__item">
              <a class="menu__link toggleMenuPane" data-target-menu-pane-id="maps">Maps <span class="menu__link-icon"><i class="icon-point-right"></i></span></a>
            </li>
            <li class="menu__item">
              <a class="menu__link toggleMenuPane" data-target-menu-pane-id="quizzes">Quizzes <span class="menu__link-icon"><i class="icon-point-right"></i></span></a>
            </li>
          </ol>
          <h3 class="menu__subtitle">Browse by</h3>
          <ol class="menu__list mbm">
            <li class="menu__item">
              <a class="menu__link toggleMenuPane" data-target-menu-pane-id="eras">Date <span class="menu__link-icon"><i class="icon-point-right"></i></span></a>
            </li>
            <li class="menu__item">
              <a class="menu__link toggleMenuPane" data-target-menu-pane-id="places">Location <span class="menu__link-icon"><i class="icon-point-right"></i></span></a>
            </li>
            <li class="menu__item">
              <a class="menu__link toggleMenuPane" data-target-menu-pane-id="characters">Witness <span class="menu__link-icon"><i class="icon-point-right"></i></span></a>
            </li>
          </ol>
          <div class="menu__push"></div>
        </div>
        <div class="menu__foot">
          <span class="brandmark float-left mrx">
            <i class="icon-aj"></i>
          </span>
          <span class="footnotes">
            Al Jazeera Network<br/>
            <a href="{{path}}about/">The Project</a> • <a href="{{path}}credits/">The Team</a>
          </span>
        </div>
      </div>
      <div id="menu__pane--documentaries" class="menu__pane moved--right">
        <div class="headline" style="background-image: url('{{path}}assets/images/temp3.jpg')">
          <h2 class="headline__title">Films</h2>
          <p class="headline__text">Full-length documentaries</p>
        </div>
        <ol class="menu__list">
          <li class="menu__item"><a class="menu__link" href="{{path}}films/gaza-left-in-the-dark/">Against the Wall</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}films/gaza-left-in-the-dark/">Al Nakba</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}films/gaza-left-in-the-dark/">Area C</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}films/gaza-left-in-the-dark/">Beyond the Walls</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}films/gaza-left-in-the-dark/">Forbidden Pilgrimage</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}films/gaza-left-in-the-dark/">Gaza Left in the Dark</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}films/gaza-left-in-the-dark/">Gaza Lives On</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}films/gaza-left-in-the-dark/">Gaza We are Coming</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}films/gaza-left-in-the-dark/">Going Against the Grain</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}films/gaza-left-in-the-dark/">Hunger Strike</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}films/gaza-left-in-the-dark/">Inside Shin Bet</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}films/gaza-left-in-the-dark/">Last Shepherds of the Valley</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}films/gaza-left-in-the-dark/">Lost Cities of Palestine</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}films/gaza-left-in-the-dark/">Palestina Amore</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}films/gaza-left-in-the-dark/">Stronger than Words</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}films/gaza-left-in-the-dark/">The Pain Inside</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}films/gaza-left-in-the-dark/">The Price of Oslo</a></li>
        </ol>
      </div>
      <div id="menu__pane--remixes" class="menu__pane moved--right">
        <div class="headline" style="background-image: url('{{path}}assets/images/temp4.jpg')">
          <h2 class="headline__title">Remixes</h2>
          <p class="headline__text">Our films—remixed by you—into new Palestinian stories</p>
        </div>
        <ol class="menu__list">
          <li class="menu__item"><a class="menu__link" href="{{path}}remix/view/#/3">My Palestina</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}remix/view/#/4">Which President are you?</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}remix/view/#/3">It may possibly a long title, as it’s user generated</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}remix/view/#/4">Access to education</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}remix/view/#/3">The Palestine I know</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}remix/view/#/4">Once upon a time in Palestina</a></li>
        </ol>
      </div>
      <div id="menu__pane--themes" class="menu__pane moved--right">
        <div class="headline" style="background-image: url('{{path}}assets/images/temp6.jpg')">
          <h2 class="headline__title">Glossary</h2>
          <p class="headline__text">Keywords to help understand Palestine Remix</p>
        </div>
        <ol class="menu__list">
          <li class="menu__item"><a class="menu__link" href="{{path}}themes/zionism/">Zionism</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}themes/zionism/">Occupation</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}themes/zionism/">Refugees</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}themes/zionism/">Resistance</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}themes/zionism/">Prisoners</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}themes/zionism/">Negotiations</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}themes/zionism/">International Solidarity</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}themes/zionism/">Children</a></li>
        </ol>
      </div>
      <div id="menu__pane--maps" class="menu__pane moved--right">
        <div class="headline" style="background-image: url('{{path}}assets/images/temp8.jpg')">
          <h2 class="headline__title">Maps</h2>
          <p class="headline__text">Explore our Palestine Maps</p>
        </div>
        <ol class="menu__list">
          <li class="menu__item"><a class="menu__link" href="{{path}}maps/">Vanishing Palestine</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}maps/">Another Map</a></li>
        </ol>
      </div>
      <div id="menu__pane--quizzes" class="menu__pane moved--right">
        <div class="headline" style="background-image: url('{{path}}assets/images/temp7.jpg')">
          <h2 class="headline__title">Quizzes</h2>
          <p class="headline__text">How would you rate your level of knowledge on Palestinian issues?</p>
        </div>
        <ol class="menu__list">
          <li class="menu__item"><a class="menu__link" href="{{path}}quizzes/beginner/">Beginner</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}quizzes/beginner/">Intermediate</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}quizzes/beginner/">Advanced</a></li>
        </ol>
      </div>
      <div id="menu__pane--eras" class="menu__pane moved--right">
        <div class="headline" style="background-image: url('{{path}}assets/images/temp3.jpg')">
          <h2 class="headline__title">by Date</h2>
          <p class="headline__text">Browse through different eras of Palestinian history</p>
        </div>
        <ol class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="{{path}}search/">Era I</a>
            <span class="menu__supplement-toggle toggleNext">1799 &ndash; 1947 <span class="flag">?</span></span>
            <div class="menu__supplement next">This is Era 1 - (the story of transferring Palestine into a Jewish state started politically in 1799 when Napoleon (France) called for that). This era ends with the UN officially adopting a resolution of partition of Palestine into an Arab and Jewish state (in 29 Nov 1947)</div>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="{{path}}search/">Era II</a>
            <span class="menu__supplement-toggle toggleNext">1948 &ndash; 1949 <span class="flag">?</span></span>
            <div class="menu__supplement next">This is Al Nakba Climax (which means the massive ethnic cleansing and expulsion of over 800 000 Palestinians from their homes, erasing Palestine from the world map and transferring it into Israel, a country recognized by the UN, the international community and dealing with it in political arena).</div>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="{{path}}search/">Era III</a>
            <span class="menu__supplement-toggle toggleNext">1950 &ndash; 1967 <span class="flag">?</span></span>
            <div class="menu__supplement next">This is Era 3 where Israel is established and continued into slow ethnic cleansing and expulsion and military rule of over 150 000 Palestinians who remain inside Israel and were forced to hold Israeli passports and forced to live in Palestinians ghettos inside Israel. And making sure not to allow Palestinians refugees the right to return.</div>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="{{path}}search/">Era IV</a>
            <span class="menu__supplement-toggle toggleNext">1968 &ndash; 1992 <span class="flag">?</span></span>
            <div class="menu__supplement next">This is Era 4 where Israel occupied the rest of history Palestine (known as the West Bank and Gaza Strip) in addition to the Golan Heights and Egyptian Sinai. Causing more than 300 000 out of their homes, some of them refugees for the 2nd time in their lives. International community did not recognize Israeli settlements (colonies) inside the occupied territories and still regard them according to international  law illegal. In this era the apartheid system was created and the Palestinians ghettos inside the occupied territories.</div>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="{{path}}search/">Era V</a>
            <span class="menu__supplement-toggle toggleNext">1993 &ndash; 2014 <span class="flag">?</span></span>
            <div class="menu__supplement next">This is Era 5 – for the first time Israel recognized the PLO (Palestinians Liberation Movement) and sign with it a peace accord, and the world accepted Israel as a peace lover country. Yet, on the ground occupation continues, ethnic cleansing and expulsion continues and more and more Palestinians both inside Israel and in the occupied territories are subject to discrimination, humiliation and living in ghettos that were bombed by F-16 for the first time in 2001, a big blockage on Gaza in 2005 and then with massive war with thousands of causalities starting in 2008 on Gaza.</div>
          </li>
        </ol>
      </div>
      <div id="menu__pane--places" class="menu__pane moved--right">
        <div class="headline" style="background-image: url('{{path}}assets/images/temp8.jpg')">
          <h2 class="headline__title">by Place</h2>
          <p class="headline__text">Browse through different locations in historic Palestine</p>
        </div>
        <ol class="menu__list">
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Vanishing Palestine</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Wall</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">West Bank</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Gaza</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Jerusalem</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Tel Aviv</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Jaffa</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Acre</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Jordan River</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Caesarea (near Haifa)</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Bethlehem</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Hebron</a></li>
        </ol>
      </div>
      <div id="menu__pane--characters" class="menu__pane moved--right">
        <div class="headline" style="background-image: url('{{path}}assets/images/temp1.jpg')">
          <h2 class="headline__title">by Witness</h2>
          <p class="headline__text">Browse through the testimonies of people who appear in our films</p>
        </div>
        <ol class="menu__list">
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Name Surname</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Nome Cognome</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Imię Nazwisko</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Name Surname</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Nome Cognome</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Imię Nazwisko</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Name Surname</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Nome Cognome</a></li>
          <li class="menu__item"><a class="menu__link" href="{{path}}search/">Imię Nazwisko</a></li>
        </ol>
      </div>
      <a id="menu-reset" class="menu-reset toggleMenuPane moved" data-target-menu-pane-id="root" aria-hidden="false">
        <span class="menu__link-icon">
          <i class="icon-point-left"></i>
        </span>
        <span class="hide">Back</span>
      </a>
    </div>
  </div>
</aside>