<h1 class="page-head__brandmark"><a href="{{path}}" title="Home Page" aria-hidden="true">{{L.header__sitename}}</a></h1>
<div class="page-head__menu-item--first">
  <a class="button toggleSide" data-side-target="left" aria-hidden="true"><i class="icon-menu"></i> <span class="hide">{{L.header__menu}}</span></a>
</div>
<div class="page-head__menu-item--last">
  <span class="drop" data-drop-position="bottom center">
    <a class="drop__toggle button">
      <i class="icon-share"></i>
    </a>
    <span class="drop__content">
      <a href='https://www.facebook.com/sharer/sharer.php?u=UURRLL' target='_blank' class='drop__button jsSetSharePath'><i class='icon-facebook'></i></a>
      <a href='https://twitter.com/home?status=UURRLL' target='_blank' class='drop__button jsSetSharePath'><i class='icon-twitter'></i></a>
      <a href='https://plus.google.com/share?url=UURRLL' target='_blank' class='drop__button jsSetSharePath'><i class='icon-googleplus'></i></a>
      <a href="mailto:?subject=PALESTINE%20REMIX&amp;body=UURRLL" class='drop__button jsSetSharePath'><i class='icon-mail'></i></a>
    </span>
  </span>
  <a class="button togglePanel" data-panel-target="language">{{L.header__current-lang}}</a>
  <a class="button toggleSide" data-side-target="right" aria-hidden="true"><i class="icon-share"></i> <span class="hide">{{L.header__share}}</span></a>
</div>