<div class="foldswiper__item home-cover__item--remixes" style="background-image: url('assets/images/covers/homeslides/slide-home.jpg')">
  <div class="foldcard__content">
    <div class="foldcard__head">
    </div>
    <div class="foldcard__body">
      <div class="group">
        <div class="s-span-1of1 m-span-4of5 m-center l-span-3of5 l-center">
          <div class="hgroup">
            <h2 class="hgroup__title">{{Headline}}</h2>
            <p class="hgroup__subtitle">{{Subheader}}</p>
            <p class="hgroup__text">{{Body-text}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="foldcard__foot mbh">
      <div class="group">
        <div class="s-span-1of1 m-span-2of3 m-center l-span-3of5 l-center">
          <span class="label">Explore contributed Remixes</span>
          <div class="foldcard__multiple multiple--vertical disable-swiper mtx mbl">
            <a class="multiple__item" href="remix/view/#/3">My Nakba</a>
            <a class="multiple__item" href="remix/view/#/4">Entifada in my heart</a>
            <a class="multiple__item" href="remix/view/#/3">Palestina, oh Palestina</a>
            <a class="multiple__item" href="remix/view/#/4">My Land Area</a>
            <a class="multiple__item" href="remix/view/#/3">My home, your home</a>
          </div>
          <div class="foldcard__multiple multiple--horizontal disable-swiper mbl" aria-hidden="true">
            <li class="multiple__item"><a href="remix/view/#/3">My Nakba</a></li>
            <li class="multiple__item"><a href="remix/view/#/4">Entifada in my heart</a></li>
            <li class="multiple__item"><a href="remix/view/#/3">Palestina, oh Palestina</a></li>
            <li class="multiple__item"><a href="remix/view/#/4">My Land Area</a></li>
            <li class="multiple__item"><a href="remix/view/#/3">My home, your home</a></li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>