<div class="foldswiper__item home-cover__item--films" style="background-image: url('assets/images/covers/homeslides/slide-films.jpg')">
  <div class="foldcard__content">
    <div class="foldcard__head">
    </div>
    <div class="foldcard__body">
      <div class="group">
        <div class="s-span-1of1 m-span-4of5 m-center l-span-3of5 l-center">
          <div class="hgroup">
            <h2 class="hgroup__title">{{HeadlineNumber}} {{Headline}}</h2>
            <p class="hgroup__subtitle">{{Subheader}}</p>
            <div class="hgroup__text">{{Body-text}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="foldcard__foot mbh">
      <div class="group">
        <div class="s-span-1of1 m-span-2of3 m-center l-span-3of5 l-center">
          <span class="label">{{L.aside-left__filmsintro}}</span>
          <div class="foldcard__multiple multiple--vertical disable-swiper mtx mbl">
            {{#each nav.films}}
              <a class="multiple__item" href="{{../path}}films/{{file}}/">{{label}}</a>
            {{/each}}
          </div>
          <div class="foldcard__multiple multiple--horizontal disable-swiper mbl" aria-hidden="true">
            {{#each nav.films}}
              <li class="multiple__item"><a href="{{../path}}films/{{file}}/">{{label}}</a></li>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>