<div class="foldswiper__item home-cover__item--events" style="background-image: url('assets/images/covers/homeslides/slide-events.jpg')">
  <div class="foldcard__content">
    <div class="foldcard__head">
    </div>
    <div class="foldcard__body">
      <div class="group">
        <div class="s-span-1of1 m-span-4of5 m-center l-span-3of5 l-center">
          <div class="hgroup">
            <h2 class="hgroup__title">{{HeadlineNumber}} {{Headline}}</h2>
            <p class="hgroup__subtitle">{{Subheader}}</p>
            <div class="hgroup__text">{{Body-text}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="foldcard__foot mbh">
      <div class="group">
        <div class="s-span-1of1 m-span-2of3 m-center l-span-3of5 l-center">
          <span class="label">Explore events</span>
          <div class="foldcard__multiple multiple--vertical disable-swiper mtx mbl">
            <a class="multiple__item" href="search/">1799 &ndash; 1947</a>
            <a class="multiple__item" href="search/">1948 &ndash; 1949</a>
            <a class="multiple__item" href="search/">1950 &ndash; 1967</a>
            <a class="multiple__item" href="search/">1968 &ndash; 1992</a>
            <a class="multiple__item" href="search/">1993 &ndash; 2014</a>
          </div>
          <div class="foldcard__multiple multiple--horizontal disable-swiper mbl" aria-hidden="true">
            <li class="multiple__item"><a href="search/">1799 &ndash; 1947</a></li>
            <li class="multiple__item"><a href="search/">1948 &ndash; 1949</a></li>
            <li class="multiple__item"><a href="search/">1950 &ndash; 1967</a></li>
            <li class="multiple__item"><a href="search/">1968 &ndash; 1992</a></li>
            <li class="multiple__item"><a href="search/">1993 &ndash; 2014</a></li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>