<div class="foldswiper__item home-cover__item--themes" style="background-image: url('assets/images/covers/homeslides/slide-definitions.jpg')">
  <div class="foldcard__content">
    <div class="foldcard__head">
    </div>
    <div class="foldcard__body">
      <div class="group">
        <div class="s-span-1of1 m-span-4of5 m-center l-span-3of5 l-center">
          <div class="hgroup">
            <h2 class="hgroup__title">{{HeadlineNumber}} {{Headline}}</h2>
            <p class="hgroup__subtitle">{{Subheader}}</p>
            <div class="hgroup__text">{{Body-text}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="foldcard__foot mbh">
      <div class="group">
        <div class="s-span-1of1 m-span-2of3 m-center l-span-3of5 l-center">
          <span class="label">Explore the Glossary</span>
          <div class="foldcard__multiple multiple--vertical disable-swiper mtx mbl">
            <a class="multiple__item" href="themes/zionism/">Zionism</a>
            <a class="multiple__item" href="themes/zionism/">Occupation</a>
            <a class="multiple__item" href="themes/zionism/">Refugees</a>
            <a class="multiple__item" href="themes/zionism/">Resistance</a>
            <a class="multiple__item" href="themes/zionism/">Prisoners</a>
            <a class="multiple__item" href="themes/zionism/">Negotiations</a>
            <a class="multiple__item" href="themes/zionism/">International Solidarity</a>
            <a class="multiple__item" href="themes/zionism/">Children</a>
          </div>
          <div class="foldcard__multiple multiple--horizontal disable-swiper mbl" aria-hidden="true">
            <li class="multiple__item"><a href="themes/zionism/">Zionism</a></li>
            <li class="multiple__item"><a href="themes/zionism/">Occupation</a></li>
            <li class="multiple__item"><a href="themes/zionism/">Refugees</a></li>
            <li class="multiple__item"><a href="themes/zionism/">Resistance</a></li>
            <li class="multiple__item"><a href="themes/zionism/">Prisoners</a></li>
            <li class="multiple__item"><a href="themes/zionism/">Negotiations</a></li>
            <li class="multiple__item"><a href="themes/zionism/">International Solidarity</a></li>
            <li class="multiple__item"><a href="themes/zionism/">Children</a></li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>