<div class="foldswiper__item home-cover__item--films" style="background-image: url('assets/images/covers/homeslides/slide-films.jpg')">
  <div class="foldcard__content">
    <div class="foldcard__head">
    </div>
    <div class="foldcard__body">
      <div class="group">
        <div class="s-span-1of1 m-span-4of5 m-center l-span-3of5 l-center">
          <div class="hgroup">
            <h2 class="hgroup__title">{{HeadlineNumber}} {{Headline}}</h2>
            <p class="hgroup__subtitle">{{Subheader}}</p>
            <p class="hgroup__text">{{Body-text}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="foldcard__foot mbh">
      <div class="group">
        <div class="s-span-1of1 m-span-2of3 m-center l-span-3of5 l-center">
          <span class="label">Jump to a film</span>
          <div class="foldcard__multiple multiple--vertical disable-swiper mtx mbl">
            <a class="multiple__item" href="films/gaza-left-in-the-dark/">Against the Wall</a>
            <a class="multiple__item" href="films/gaza-left-in-the-dark/">Al Nakba</a>
            <a class="multiple__item" href="films/gaza-left-in-the-dark/">Area C</a>
            <a class="multiple__item" href="films/gaza-left-in-the-dark/">Beyond the Walls</a>
            <a class="multiple__item" href="films/gaza-left-in-the-dark/">Forbidden Pilgrimage</a>
            <a class="multiple__item" href="films/gaza-left-in-the-dark/">Gaza Left in the Dark</a>
            <a class="multiple__item" href="films/gaza-left-in-the-dark/">Gaza Lives On</a>
            <a class="multiple__item" href="films/gaza-left-in-the-dark/">Gaza We are Coming</a>
            <a class="multiple__item" href="films/gaza-left-in-the-dark/">Going Against the Grain</a>
            <a class="multiple__item" href="films/gaza-left-in-the-dark/">Hunger Strike</a>
            <a class="multiple__item" href="films/gaza-left-in-the-dark/">Inside Shin Bet</a>
            <a class="multiple__item" href="films/gaza-left-in-the-dark/">Last Shepherds of the Valley</a>
            <a class="multiple__item" href="films/gaza-left-in-the-dark/">Lost Cities of Palestine</a>
            <a class="multiple__item" href="films/gaza-left-in-the-dark/">Palestina Amore</a>
            <a class="multiple__item" href="films/gaza-left-in-the-dark/">Stronger than Words</a>
            <a class="multiple__item" href="films/gaza-left-in-the-dark/">The Pain Inside</a>
            <a class="multiple__item" href="films/gaza-left-in-the-dark/">The Price of Oslo</a>
          </div>
          <div class="foldcard__multiple multiple--horizontal disable-swiper mbl" aria-hidden="true">
            <li class="multiple__item"><a href="films/gaza-left-in-the-dark/">Against the Wall</a></li>
            <li class="multiple__item"><a href="films/gaza-left-in-the-dark/">Al Nakba</a></li>
            <li class="multiple__item"><a href="films/gaza-left-in-the-dark/">Area C</a></li>
            <li class="multiple__item"><a href="films/gaza-left-in-the-dark/">Beyond the Walls</a></li>
            <li class="multiple__item"><a href="films/gaza-left-in-the-dark/">Forbidden Pilgrimage</a></li>
            <li class="multiple__item"><a href="films/gaza-left-in-the-dark/">Gaza Left in the Dark</a></li>
            <li class="multiple__item"><a href="films/gaza-left-in-the-dark/">Gaza Lives On</a></li>
            <li class="multiple__item"><a href="films/gaza-left-in-the-dark/">Gaza We are Coming</a></li>
            <li class="multiple__item"><a href="films/gaza-left-in-the-dark/">Going Against the Grain</a></li>
            <li class="multiple__item"><a href="films/gaza-left-in-the-dark/">Hunger Strike</a></li>
            <li class="multiple__item"><a href="films/gaza-left-in-the-dark/">Inside Shin Bet</a></li>
            <li class="multiple__item"><a href="films/gaza-left-in-the-dark/">Last Shepherds of the Valley</a></li>
            <li class="multiple__item"><a href="films/gaza-left-in-the-dark/">Lost Cities of Palestine</a></li>
            <li class="multiple__item"><a href="films/gaza-left-in-the-dark/">Palestina Amore</a></li>
            <li class="multiple__item"><a href="films/gaza-left-in-the-dark/">Stronger than Words</a></li>
            <li class="multiple__item"><a href="films/gaza-left-in-the-dark/">The Pain Inside</a></li>
            <li class="multiple__item"><a href="films/gaza-left-in-the-dark/">The Price of Oslo</a></li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>