<div class="foldswiper__item home-cover__item--home" style="background-image: url('assets/images/covers/homeslides/slide-home.jpg')">
  <div class="foldcard__content">
    <div class="foldcard__head">
      <span class="label">{{aside-left__footAJ}}</span>
    </div>
    <div class="foldcard__body">
      <div class="group">
        <div class="s-span-1of1 m-span-4of5 m-center l-span-3of5 l-center">
          <div class="hgroup">
            <h2 class="hgroup__title">{{Headline}}</h2>
            <p class="hgroup__text">{{Subheader}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>