<div class="foldswiper__item home-cover__item--locations" style="background-image: url('assets/images/covers/homeslides/slide-maps.jpg')">
  <div class="foldcard__content">
    <div class="foldcard__head">
    </div>
    <div class="foldcard__body">
      <div class="group">
        <div class="s-span-1of1 m-span-4of5 m-center l-span-3of5 l-center">
          <div class="hgroup">
            <h2 class="hgroup__title">{{HeadlineNumber}} {{Headline}}</h2>
            <p class="hgroup__subtitle">{{Subheader}}</p>
            <p class="hgroup__text">{{Body-text}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="foldcard__foot mbh">
      <div class="group">
        <div class="s-span-1of1 m-span-2of3 m-center l-span-3of5 l-center">
          <span class="label">Explore maps</span>
          <div class="foldcard__multiple multiple--vertical disable-swiper mtx mbl">
            <a class="multiple__item" href="search/">Vanishing Palestine</a>
            <a class="multiple__item" href="search/">The Wall</a>
            <a class="multiple__item" href="search/">Area A/B/C</a>
          </div>
          <div class="foldcard__multiple multiple--horizontal disable-swiper mbl" aria-hidden="true">
            <li class="multiple__item"><a href="search/">Vanishing Palestine</a></li>
            <li class="multiple__item"><a href="search/">The Wall</a></li>
            <li class="multiple__item"><a href="search/">Area A/B/C</a></li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>