<div class="foldswiper__item map--vanishing-item" style="background-image: url('{{path}}assets/images/covers/map_vanishing/slide_01.jpg')">
  <div class="foldcard__content">
    <div class="foldcard__head">
      <span class="label">MEH</span>
    </div>
    <div class="foldcard__body">
      <div class="group">
        <div class="s-span-1of1 m-span-4of5 m-center l-span-3of5 l-center">
          <div class="hgroup">
            <h2 class="hgroup__title">SLIDE 1</h2>
            <p class="hgroup__text">TEXT</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="foldswiper__item map--vanishing-item" style="background-image: url('{{path}}assets/images/covers/map_vanishing/slide_02.jpg')">
  <div class="foldcard__content">
    <div class="foldcard__head">
      <span class="label">MEH</span>
    </div>
    <div class="foldcard__body">
      <div class="group">
        <div class="s-span-1of1 m-span-4of5 m-center l-span-3of5 l-center">
          <div class="hgroup">
            <h2 class="hgroup__title">SLIDE 2</h2>
            <p class="hgroup__text">TEXT</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="foldswiper__item map--vanishing-item" style="background-image: url('{{path}}assets/images/covers/map_vanishing/slide_03.jpg')">
  <div class="foldcard__content">
    <div class="foldcard__head">
      <span class="label">MEH</span>
    </div>
    <div class="foldcard__body">
      <div class="group">
        <div class="s-span-1of1 m-span-4of5 m-center l-span-3of5 l-center">
          <div class="hgroup">
            <h2 class="hgroup__title">SLIDE 3</h2>
            <p class="hgroup__text">TEXT</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="foldswiper__item map--vanishing-item" style="background-image: url('{{path}}assets/images/covers/map_vanishing/slide_04.jpg')">
  <div class="foldcard__content">
    <div class="foldcard__head">
      <span class="label">MEH</span>
    </div>
    <div class="foldcard__body">
      <div class="group">
        <div class="s-span-1of1 m-span-4of5 m-center l-span-3of5 l-center">
          <div class="hgroup">
            <h2 class="hgroup__title">SLIDE 4</h2>
            <p class="hgroup__text">TEXT</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="foldswiper__item map--vanishing-item" style="background-image: url('{{path}}assets/images/covers/map_vanishing/slide_05.jpg')">
  <div class="foldcard__content">
    <div class="foldcard__head">
      <span class="label">MEH</span>
    </div>
    <div class="foldcard__body">
      <div class="group">
        <div class="s-span-1of1 m-span-4of5 m-center l-span-3of5 l-center">
          <div class="hgroup">
            <h2 class="hgroup__title">SLIDE 5</h2>
            <p class="hgroup__text">TEXT</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="foldswiper__item map--vanishing-item" style="background-image: url('{{path}}assets/images/covers/map_vanishing/slide_06.jpg')">
  <div class="foldcard__content">
    <div class="foldcard__head">
      <span class="label">MEH</span>
    </div>
    <div class="foldcard__body">
      <div class="group">
        <div class="s-span-1of1 m-span-4of5 m-center l-span-3of5 l-center">
          <div class="hgroup">
            <h2 class="hgroup__title">SLIDE 6</h2>
            <p class="hgroup__text">TEXT</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>