<h3 id="year1917">1917–1939</h3>
<figure class="figure--compact" style="background-image: url('{{path}}assets/images/figures/vanishing-palestine/slide_01.jpg');">
  <img src="{{path}}assets/images/figures/vanishing-palestine/map_01.png" class="figure__image">
  <figcaption>
    <dl>
      <dt>Population:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--tl">97% Arabs</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--tr">3% Jews</i></em>
        </span>
      </dd>
      <dt>Land Control:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--bl">97% Arabs</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--br">3% Jews</i></em>
        </span>
      </dd>
    </dl>
  </figcaption>
</figure>
<p>The British mandate's main objective was to place historic Palestine under political, administrative and economic conditions that would secure the establishment of a Jewish national home in Palestine. Before the British mandate in Palestine, Jews made up three percent of the total population:.</p>
<hr class="separator--compact" />

<h3 id="year1939">1939–1945</h3>
<figure class="figure--compact" style="background-image: url('{{path}}assets/images/figures/vanishing-palestine/slide_02-3.jpg');">
  <img src="{{path}}assets/images/figures/vanishing-palestine/map-02-3.png" class="figure__image">
  <figcaption>
    <dl>
      <dt>Population:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--tl">97% Arabs</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--tr">3% Jews</i></em>
        </span>
      </dd>
      <dt>Land Control:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--bl">97% Arabs</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--br">3% Jews</i></em>
        </span>
      </dd>
    </dl>
  </figcaption>
</figure>
<p>The British mandate facilitated Jewish immigration from Europe to Palestine in the 1920s & 1930s.</p>
<p>By 1947, the Jewish population: had increased tenfold to 33 percent of Palestine.</p>
<hr class="separator--compact" />

<h3 id="year1946">1946</h3>
<figure class="figure--compact" style="background-image: url('{{path}}assets/images/figures/vanishing-palestine/slide_02-3.jpg');">
  <img src="{{path}}assets/images/figures/vanishing-palestine/map-02-3.png" class="figure__image">
  <figcaption>
    <dl>
      <dt>Population:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--tl">97% Arabs</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--tr">3% Jews</i></em>
        </span>
      </dd>
      <dt>Land Control:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--bl">97% Arabs</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--br">3% Jews</i></em>
        </span>
      </dd>
    </dl>
  </figcaption>
</figure>
<p>In 1946, Zionist Jews controlled less than six percent of Historic Palestine.</p>
<hr class="separator--compact" />

<h3 id="year1948">1947–1949</h3>
<figure class="figure--compact" style="background-image: url('{{path}}assets/images/figures/vanishing-palestine/slide_04-5.jpg');">
  <img src="{{path}}assets/images/figures/vanishing-palestine/map-04.png" class="figure__image">
  <figcaption>
    <dl>
      <dt>Population:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--tl">97% Arabs</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--tr">3% Jews</i></em>
        </span>
      </dd>
      <dt>Land Control:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--bl">97% Arabs</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--br">3% Jews</i></em>
        </span>
      </dd>
    </dl>
  </figcaption>
</figure>
<p>On May 14, 1948, the day the British mandate expired, Zionists declared the state of Israel to be born.</p>
<p>Zionist military forces expelled at least 750,000 Palestinians, destroyed over 530 villages and captured 78 percent of historic Palestine. The remaining 22 percent was divided into two parts: The West Bank and Gaza Strip.</p>
<p>In 1949, the UN welcomed Israel as a member state. No Palestinian state ever materialised.</p>
<hr class="separator--compact" />

<h3 id="year1967">1967–1993</h3>
<figure class="figure--compact" style="background-image: url('{{path}}assets/images/figures/vanishing-palestine/slide_04-5.jpg');">
  <img src="{{path}}assets/images/figures/vanishing-palestine/map-05.png" class="figure__image">
  <figcaption>
    <dl>
      <dt>Population:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--tl">97% Arabs</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--tr">3% Jews</i></em>
        </span>
      </dd>
      <dt>Land Control:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--bl">97% Arabs</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--br">3% Jews</i></em>
        </span>
      </dd>
    </dl>
  </figcaption>
</figure>
<p>In June 1967, Israel expanded into the West Bank, including East Jerusalem, and the Gaza Strip, occupying all of historic Palestine.</p>
<p>This has made the Israeli occupation the longest in modern history.</p>
<hr class="separator--compact" />

<h3 id="year1993">1993</h3>
<figure class="figure--compact" style="background-image: url('{{path}}assets/images/figures/vanishing-palestine/slide_06.jpg');">
  <img src="{{path}}assets/images/figures/vanishing-palestine/map-06.png" class="figure__image">
  <figcaption>
    <dl>
      <dt>Population:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--tl">97% Arabs</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--tr">3% Jews</i></em>
        </span>
      </dd>
      <dt>Land Control:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--bl">97% Arabs</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--br">3% Jews</i></em>
        </span>
      </dd>
    </dl>
  </figcaption>
</figure>
<p>PLO Leader Yasser Arafat signed the Oslo Declaration of Principles with Israeli PM Yitzhak Rabin.</p>
<p>The future negotiations were supposed to determine which areas Palestinians would control within the 22 percent of historic Palestine that Israel occupied in 1967.</p>
<hr class="separator--compact" />

<h3 id="year1994">1994–2014</h3>
<figure class="figure--compact" style="background-image: url('{{path}}assets/images/figures/vanishing-palestine/slide_07-8.jpg');">
  <img src="{{path}}assets/images/figures/vanishing-palestine/map-07.png" class="figure__image">
  <figcaption>
    <dl>
      <dt>Population:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--tl">97% Arabs</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--tr">3% Jews</i></em>
        </span>
      </dd>
      <dt>Land Control:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--bl">97% Arabs</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--br">3% Jews</i></em>
        </span>
      </dd>
    </dl>
  </figcaption>
</figure>
<p>Palestinians were given certain powers of self-rule in urban parts of the West Bank and Gaza Strip. However, Israel maintains security control and the ability to raid at any time.</p>
<hr class="separator--compact" />

<h3 id="year2014">2014</h3>
<figure class="figure--compact" style="background-image: url('{{path}}assets/images/figures/vanishing-palestine/slide_09.jpg');">
  <img src="{{path}}assets/images/figures/vanishing-palestine/map-08-9.png" class="figure__image">
  <figcaption>
    <dl>
      <dt>Population:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--tl">97% Arabs</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--tr">3% Jews</i></em>
        </span>
      </dd>
      <dt>Land Control:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--bl">97% Arabs</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--br">3% Jews</i></em>
        </span>
      </dd>
    </dl>
  </figcaption>
</figure>
<p>Even today, Palestinian national aspirations remain elusive.</p>
<p>Throughout historic Palestine, Palestinians face occupation and colonisation, siege and war, and discrimination and second-class treatment from Israeli rule.</p>
<p>Additionally, millions of Palestinian refugees languish in camps awaiting their right to return to their homes.</p>