<h3 id="year1917">{{L.maps-vp-y1917-title}}</h3>
<figure class="figure--compact" style="background-image: url('{{path}}assets/images/figures/vanishing-palestine/slide_01.jpg');">
  <img src="{{path}}assets/images/figures/vanishing-palestine/map_01.png" class="figure__image">
  <figcaption>
    <dl>
      <dt>{{L.maps-vp-population}}:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: {{L.maps-vp-y1917-arab-val}}%;"><i class="legend__lable--tl">{{L.maps-vp-y1917-arab-val}}% {{L.maps-vp-arabs}}</i></em>
          <em class="legend__val2" style="width: {{L.maps-vp-y1917-jew-val}}%;"><i class="legend__lable--tr">{{L.maps-vp-y1917-jew-val}}% {{L.maps-vp-jews}}</i></em>
        </span>
      </dd>
      <dt>{{L.maps-vp-landcontrol}}:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--bl">97% {{L.maps-vp-arabs}}</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--br">3% {{L.maps-vp-jews}}</i></em>
        </span>
      </dd>
    </dl>
  </figcaption>
</figure>
<p>{{L.maps-vp-y1917-text}}</p>
<hr class="separator--compact" />

<h3 id="year1939">1939–1945</h3>
<figure class="figure--compact" style="background-image: url('{{path}}assets/images/figures/vanishing-palestine/slide_02-3.jpg');">
  <img src="{{path}}assets/images/figures/vanishing-palestine/map-02-3.png" class="figure__image">
  <figcaption>
    <dl>
      <dt>{{L.maps-vp-population}}:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--tl">97% {{L.maps-vp-arabs}}</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--tr">3% {{L.maps-vp-jews}}</i></em>
        </span>
      </dd>
      <dt>{{L.maps-vp-landcontrol}}:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--bl">97% {{L.maps-vp-arabs}}</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--br">3% {{L.maps-vp-jews}}</i></em>
        </span>
      </dd>
    </dl>
  </figcaption>
</figure>
<p>The British mandate facilitated Jewish immigration from Europe to Palestine in the 1920s & 1930s. By 1947, the Jewish population had increased tenfold to 33 percent of Palestine.</p>
<hr class="separator--compact" />

<h3 id="year1946">1946</h3>
<figure class="figure--compact" style="background-image: url('{{path}}assets/images/figures/vanishing-palestine/slide_02-3.jpg');">
  <img src="{{path}}assets/images/figures/vanishing-palestine/map-02-3.png" class="figure__image">
  <figcaption>
    <dl>
      <dt>{{L.maps-vp-population}}:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--tl">97% {{L.maps-vp-arabs}}</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--tr">3% {{L.maps-vp-jews}}</i></em>
        </span>
      </dd>
      <dt>{{L.maps-vp-landcontrol}}:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--bl">97% {{L.maps-vp-arabs}}</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--br">3% {{L.maps-vp-jews}}</i></em>
        </span>
      </dd>
    </dl>
  </figcaption>
</figure>
<p>In 1946, Zionist Jews controlled less than six percent of Historic Palestine.</p>
<hr class="separator--compact" />

<h3 id="year1948">1947–1949</h3>
<figure class="figure--compact" style="background-image: url('{{path}}assets/images/figures/vanishing-palestine/slide_04-5.jpg');">
  <img src="{{path}}assets/images/figures/vanishing-palestine/map-04.png" class="figure__image">
  <figcaption>
    <dl>
      <dt>{{L.maps-vp-population}}:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--tl">97% {{L.maps-vp-arabs}}</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--tr">3% {{L.maps-vp-jews}}</i></em>
        </span>
      </dd>
      <dt>{{L.maps-vp-landcontrol}}:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--bl">97% {{L.maps-vp-arabs}}</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--br">3% {{L.maps-vp-jews}}</i></em>
        </span>
      </dd>
    </dl>
  </figcaption>
</figure>
<p>On May 14, 1948, the day the British mandate expired, Zionists declared the state of Israel to be born. Zionist military forces expelled at least 750,000 Palestinians, destroyed over 530 villages and captured 78 percent of historic Palestine. The remaining 22 percent was divided into two parts: The West Bank and Gaza Strip. In 1949, the UN welcomed Israel as a member state. No Palestinian state ever materialised.</p>
<hr class="separator--compact" />

<h3 id="year1967">1967–1993</h3>
<figure class="figure--compact" style="background-image: url('{{path}}assets/images/figures/vanishing-palestine/slide_04-5.jpg');">
  <img src="{{path}}assets/images/figures/vanishing-palestine/map-05.png" class="figure__image">
  <figcaption>
    <dl>
      <dt>{{L.maps-vp-population}}:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--tl">97% {{L.maps-vp-arabs}}</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--tr">3% {{L.maps-vp-jews}}</i></em>
        </span>
      </dd>
      <dt>{{L.maps-vp-landcontrol}}:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--bl">97% {{L.maps-vp-arabs}}</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--br">3% {{L.maps-vp-jews}}</i></em>
        </span>
      </dd>
    </dl>
  </figcaption>
</figure>
<p>In June 1967, Israel expanded into the West Bank, including East Jerusalem, and the Gaza Strip, occupying all of historic Palestine. This has made the Israeli occupation the longest in modern history.</p>
<hr class="separator--compact" />

<h3 id="year1993">1993</h3>
<figure class="figure--compact" style="background-image: url('{{path}}assets/images/figures/vanishing-palestine/slide_06.jpg');">
  <img src="{{path}}assets/images/figures/vanishing-palestine/map-06.png" class="figure__image">
  <figcaption>
    <dl>
      <dt>{{L.maps-vp-population}}:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--tl">97% {{L.maps-vp-arabs}}</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--tr">3% {{L.maps-vp-jews}}</i></em>
        </span>
      </dd>
      <dt>{{L.maps-vp-landcontrol}}:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--bl">97% {{L.maps-vp-arabs}}</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--br">3% {{L.maps-vp-jews}}</i></em>
        </span>
      </dd>
    </dl>
  </figcaption>
</figure>
<p>PLO Leader Yasser Arafat signed the Oslo Declaration of Principles with Israeli PM Yitzhak Rabin. The future negotiations were supposed to determine which areas Palestinians would control within the 22 percent of historic Palestine that Israel occupied in 1967.</p>
<hr class="separator--compact" />

<h3 id="year1994">1994–2014</h3>
<figure class="figure--compact" style="background-image: url('{{path}}assets/images/figures/vanishing-palestine/slide_07-8.jpg');">
  <img src="{{path}}assets/images/figures/vanishing-palestine/map-07.png" class="figure__image">
  <figcaption>
    <dl>
      <dt>{{L.maps-vp-population}}:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--tl">97% {{L.maps-vp-arabs}}</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--tr">3% {{L.maps-vp-jews}}</i></em>
        </span>
      </dd>
      <dt>{{L.maps-vp-landcontrol}}:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--bl">97% {{L.maps-vp-arabs}}</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--br">3% {{L.maps-vp-jews}}</i></em>
        </span>
      </dd>
    </dl>
  </figcaption>
</figure>
<p>Palestinians were given certain powers of self-rule in urban parts of the West Bank and Gaza Strip. However, Israel maintains security control and the ability to raid at any time.</p>
<hr class="separator--compact" />

<h3 id="year2014">2014</h3>
<figure class="figure--compact" style="background-image: url('{{path}}assets/images/figures/vanishing-palestine/slide_09.jpg');">
  <img src="{{path}}assets/images/figures/vanishing-palestine/map-08-9.png" class="figure__image">
  <figcaption>
    <dl>
      <dt>{{L.maps-vp-population}}:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--tl">97% {{L.maps-vp-arabs}}</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--tr">3% {{L.maps-vp-jews}}</i></em>
        </span>
      </dd>
      <dt>{{L.maps-vp-landcontrol}}:</dt>
      <dd>
        <span class="legend">
          <em class="legend__val1" style="width: 97%;"><i class="legend__lable--bl">97% {{L.maps-vp-arabs}}</i></em>
          <em class="legend__val2" style="width: 3%;"><i class="legend__lable--br">3% {{L.maps-vp-jews}}</i></em>
        </span>
      </dd>
    </dl>
  </figcaption>
</figure>
<p>Even today, Palestinian national aspirations remain elusive. Throughout historic Palestine, Palestinians face occupation and colonisation, siege and war, and discrimination and second-class treatment from Israeli rule. Additionally, millions of Palestinian refugees languish in camps awaiting their right to return to their homes.</p>