<div id="panel--filter" class="panel" data-panel-state="inactive">
  <div class="panel__head">
    <h2 class="panel__title">Narrow down results</h2>
  </div>
  <div class="panel__body">
    <div class="group">
      <div class="s-span-1of1 m-span-3of5 m-center l-span-2of5 l-center">
        <h3 class="panel__subtitle">by Timeframe</h3>
        <div class="multiple--horizontal mbm" data-centered="true" data-category="era">
          <div class="multiple__wrapper">
            <a class="multiple__item" data-search-tag="era1">1799&ndash;1947</a>
            <a class="multiple__item" data-search-tag="era2">1948&ndash;1949</a>
            <a class="multiple__item" data-search-tag="era3">1950&ndash;1967</a>
            <a class="multiple__item" data-search-tag="era4">1968&ndash;1992</a>
            <a class="multiple__item" data-search-tag="era5">1993&ndash;2014</a>
          </div>
        </div>
        <h3 class="panel__subtitle">by Location</h3>
        <div class="multiple--horizontal mbm" data-centered="true" data-category="location">
          <div class="multiple__wrapper">
            <a class="multiple__item" data-search-tag="location1">Vanishing Palestine</a>
            <a class="multiple__item" data-search-tag="location2">Wall</a>
            <a class="multiple__item" data-search-tag="location3">West Bank</a>
            <a class="multiple__item" data-search-tag="location4">Gaza</a>
            <a class="multiple__item" data-search-tag="location5">Jerusalem</a>
            <a class="multiple__item" data-search-tag="location6">Tel Aviv</a>
            <a class="multiple__item" data-search-tag="location7">Jaffa</a>
            <a class="multiple__item" data-search-tag="location8">Acre</a>
            <a class="multiple__item" data-search-tag="location9">Jordan River</a>
            <a class="multiple__item" data-search-tag="location10">Caesarea (near Haifa)</a>
            <a class="multiple__item" data-search-tag="location11">Bethlehem</a>
            <a class="multiple__item" data-search-tag="location12">Hebron</a>
          </div>
        </div>
        <h3 class="panel__subtitle">by Person</h3>
        <div class="multiple--horizontal" data-centered="true" data-category="person">
          <div class="multiple__wrapper">
            <a class="multiple__item" data-search-tag="person1">Name Surname</a>
            <a class="multiple__item" data-search-tag="person2">Name Surname</a>
            <a class="multiple__item" data-search-tag="person3">Name Surname</a>
            <a class="multiple__item" data-search-tag="person4">Name Surname</a>
            <a class="multiple__item" data-search-tag="person5">Name Surname</a>
            <a class="multiple__item" data-search-tag="person6">Name Surname</a>
            <a class="multiple__item" data-search-tag="person7">Name Surname</a>
            <a class="multiple__item" data-search-tag="person8">Name Surname</a>
            <a class="multiple__item" data-search-tag="person9">Name Surname</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel__foot">
    <div class="group">
      <div class="s-span-1of1 m-span-3of5 m-center l-span-2of5 l-center">
        <a class="panel__action--pri togglePanel" data-panel-target="filter">Apply Filters</a>
      </div>
    </div>
  </div>
  <a class="panel__action--sec togglePanel" data-panel-target="filter">Cancel</a>
</div>