<div id="panel--language" class="panel" data-panel-state="inactive">
  <div class="panel__head">
    <h2 class="panel__title">{{L.panel-lang__change-lang}}</h2>
  </div>
  <div class="panel__foot">
    <div class="group">
      <div class="s-span-1of1 m-span-3of5 m-center l-span-3of5 l-center">
        <a href="/AJE/PalestineRemix-test/mobile/" class="panel__action--pri togglePanel mbs noenglish" data-panel-target="language">English</a>
        <a href="/AJA/PalestineRemix-test/mobile/" class="panel__action--pri togglePanel mbs noarabic" data-panel-target="language">العربية</a>
        <a href="/AJT/PalestineRemix-test/mobile/" class="panel__action--pri togglePanel mbs noturkish" data-panel-target="language">Türk</a>
        <a href="/AJB/PalestineRemix-test/mobile/" class="panel__action--pri togglePanel nobosnian" data-panel-target="language">Boşnakça</a>
      </div>
    </div>
  </div>
  <a class="panel__action--sec togglePanel" data-panel-target="language">{{L.panel-lang__cancel}}</a>
</div>