<div id="panel--share" class="panel" data-panel-state="inactive">
  <div class="panel__head">
    <h2 class="panel__title">{{L.panel-share__share-remix}}</h2>
  </div>
  <div class="panel__body pvh">
    <div class="group">
      <div class="s-span-1of1 m-span-3of5 m-center l-span-3of5 l-center">
        <h3 class="panel__subtitle">{{L.panel-share__share-remix-with}}</h3>
        <div class="group">
          <div class="span-1of4">
            <a id="hap-share-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=" class="sec-button block pam mrx"><i class="icon-facebook" style="font-size: 24px;"></i></a>
          </div>
          <div class="span-1of4">
            <a id="hap-share-twitter" target="_blank" href="https://twitter.com/home?status=" class="sec-button block pam mhx"><i class="icon-twitter" style="font-size: 24px;"></i></a>
          </div>
          <div class="span-1of4">
            <a id="hap-share-google" target="_blank" href="https://plus.google.com/share?url=" class="sec-button block pam mhx"><i class="icon-googleplus" style="font-size: 24px;"></i></a>
          </div>
          <div class="span-1of4">
            <a id="hap-share-email" target="_blank" href="mailto:?subject={{L.mailto-subject}}&body={{L.mailto-body}} UURRLL%0A%0A{{L.mailto-body2}}%0A{{L.mailto-body3}}" class="sec-button block pam mlx"><i class="icon-mail" style="font-size: 24px;"></i></a>
          </div>
        </div>
        <h3 class="panel__subtitle--alt mtl">{{L.panel-share__save-loc}}</h3>
        <pre id="hap-share-url" class="pre mbl"></pre>
      </div>
    </div>
  </div>
  <div class="panel__foot">
    <div class="group">
      <div class="s-span-1of1 m-span-3of5 m-center l-span-3of5 l-center">
        <!-- <a class="panel__action--pri togglePanel" data-panel-target="filter">{{L.panel-share__done}}</a> -->
        <a class="panel__action--pri" id="hap-download-url" href="#">{{L.panel-share__save-download}}</a>
      </div>
    </div>
  </div>
  <a class="panel__action--sec togglePanel" data-panel-target="share">{{L.panel-share__close}}</a>
</div>
