<blockquote class="quote">
  <p class="quote__content">{{quote}}
  <span class="drop">
    <a class="drop__toggle">
      <i class="icon-share-el"></i>
    </a>
    <span class="drop__content">
      <a href='https://www.facebook.com/sharer/sharer.php?u={{quote}}' target='_blank' class='drop__button'><i class='icon-facebook'></i></a>
      <a href='https://twitter.com/home?status={{quote}}' target='_blank' class='drop__button'><i class='icon-twitter'></i></a>
      <a href='https://plus.google.com/share?url=http://www.youtube.com/watch?v={{yt}}' target='_blank' class='drop__button'><i class='icon-googleplus'></i></a>
      <a href="mailto:?subject=Palestine%20Remix&amp;body=Hi%2C%20have%20a%20look%20at%20this%3A%20{{quote}}" class='drop__button'><i class='icon-mail'></i></a>
    </span>
  </span></p>
  <p class="quote__meta">—<span class="quote__author-name">{{label}}</span> <span class="quote__author-bio">{{context}}</span></p>
</blockquote>