<blockquote class="quote">
  <p class="quote__content">{{quote}}</p>
  <p class="quote__meta">—<span class="quote__author-name">{{label}}</span>, <span class="quote__author-bio">{{context}}</span></p>
  <p class="quote__shareables">
    <span class="drop" data-drop-position="bottom center">
      <a class="drop__toggle quote__shareable">
        {{L.quote__share}} <i class="icon-share-el"></i>
      </a>
      <span class="drop__content">
        <!-- <a href='https://www.facebook.com/sharer/sharer.php?u={{quote}}' target='_blank' class='drop__button'><i class='icon-facebook'></i></a> -->
        <a href='https://twitter.com/home?status={{quote}}' target='_blank' class='drop__button'><i class='icon-twitter'></i></a>
        <!-- <a href='https://plus.google.com/share?url=http://www.youtube.com/watch?v={{yt}}' target='_blank' class='drop__button'><i class='icon-googleplus'></i></a> -->
        <a href="mailto:?subject={{L.header__sitename}}&amp;body={{quote}}%0A%0A%u2014via%20{{L.header__sitename}}" class='drop__button'><i class='icon-mail'></i></a>
      </span>
    </span>
  </p>
</blockquote>