<figure>
  <span class="drop">
    <div class="drop__toggle">
      <i class="icon-share-el"></i>
    </div>
    <div class="drop__content">
      <a href='https://www.facebook.com/sharer/sharer.php?u=http://www.youtube.com/watch?v={{yt}}' target='_blank' class='drop__button'><i class='icon-facebook'></i></a>
      <a href='https://twitter.com/home?status=http://www.youtube.com/watch?v={{yt}}' target='_blank' class='drop__button'><i class='icon-twitter'></i></a>
      <a href='https://plus.google.com/share?url=http://www.youtube.com/watch?v={{yt}}' target='_blank' class='drop__button'><i class='icon-googleplus'></i></a>
      <a href="mailto:?subject=Palestine%20Remix&amp;body=Hi%2C%20have%20a%20look%20at%20this%3A%20http://www.youtube.com/watch?v={{yt}}" class='drop__button'><i class='icon-mail'></i></a>
    </div>
  </span>
  <div class="embed">
    <iframe src="//player.vimeo.com/video/{{vimeo}}?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <figcaption>
    {{label}}
  </figcaption>
</figure>