/**
 * Actions
 * ============================================ */

.HAP-transcript__item {
  .actions {
    @include position-top-right($transcript-padding,0);
    @include set-size($space-l,$space-l);
    background: $red-LD;
    cursor: pointer;
    display: none;
    z-index: 5;
    &:before {
      @include position-top-right(50%,100%);
      @include set-size(0,0);
      border: solid transparent;
      border-width: $space-l / 2;
      border-right-color: $red-LD;
      margin-top: ($space-l / 2) * -1;
      content: " ";
      pointer-events: none;
    }
    &:after {
      @include set-size($space-l - $space-x,$space-l);
      font-family: 'aj';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      content: "\e60a";
      color: $mono-Wt;
      display: block;
      line-height: $space-l;
      text-align: center;
    }
  }
  &:hover {
    .actions {
      display: block;
    }
  }
}

.HAP-transcript__item.edit {
  background: $mono-Wt;
  a:hover {
    color: $red-LD;
    &:after {
      @include position-top-right(0,2px);
      height: 100%;
      content: "";
      border-right: 2px solid $red-LD;
    }
  }
}

// #stage .actions:after {
//   font-family: 'fontello';
//   content: 'd';
// }

// #output-transcript .actions:after {
//   font-family: 'fontello';
//   content: 'd';
// }

// #output-transcript .item:hover .actions {
//   top: 0px;
// }
