/**
 * Buttons
 * ============================================ */

.HAP-button {
  background: $shadow-weak;
  color: $mono-Wt;
  border-width: 1px;
  border-color: $flare-weak;
  &:hover {

  }
  &:active {

  }
}