/**
 * Curtain, video transitions/title holder
 * ============================================ */

.HAP-curtain {
  @include position-top-left(0,0);
  @include position-bottom-right(0,0);
  z-index: 25;
  * {
    @include set-type-xlarge;
  }
}

.HAP-curtain__title {
  @include transform(translateY(-50%));
  @include set-type-xlarge;
  margin-left: 10%;
  margin-right: 10%;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 80%;
  .HAP-player:-webkit-full-screen &,
  .HAP-player:-moz-full-screen &,
  .HAP-player:-ms-full-screen &,
  .HAP-player:-o-full-screen &,
  .HAP-player:full-screen {
    @include set-type-xlarge;
  }
}

.HAP-curtain__title--helper {
  visibility: hidden;
}