/**
 * Effects
 * ============================================ */

.HAP-effect {
  @extend %well;
  @include set-type-xsmall;
  position: relative;
  input[type="text"] {
    @extend %text-input;
    border-bottom: 1px solid $shadow-light;
    padding: $space-x;
    // background:
  }
  form > label {
    display: block;
    font-weight: $font-bold;
    margin-bottom: $space-x;
    margin-left: $transcript-padding * -1;
    margin-right: $transcript-padding * -1;
    margin-top: $transcript-padding * -1;
    padding: $space-x $transcript-padding;
    text-align: center;
  }
}

.HAP-effect__checkboxes {
  @include position-top-right($space-x, $space-x);
}

.HAP-effect input[type=text],
.HAP-effect input[type=range] {
  display: block;
  width: 100%;
}
.HAP-effect input[type=text] {
  @extend %text-input;
}

// .HAP-effect input[type=text]:focus {
// }
// .HAP-effect span:before {
// }
// .HAP-effect .HAP-effect-checkboxes {
// }

// Variations
// ----------------------------------------------

.HAP-effect {
  // If effect lives in a transcript, add bottom spacing
  .HAP-transcript & {
    padding: $space-s;
    box-shadow: none;
  }
  // Hide effects in viewer mode
  .HAP--viewer & {
    display: none;
  }
}