.HAP-helpers {
  @include position-top-right($space-x,0);
  z-index: 30;
  @include breakpoint(m) {
    @include position-top-right($space,$space);
  }
}

.HAP-helper {
  border-radius: $radius-s;
  background: $shadow-weak;
  color: $mono-Wt;
  display: inline-block;
  font-weight: $font-bold;
  float: right;
  height: 32px;
  line-height: 35px;
  min-width: 32px;
  margin-left: $space;
  padding: 0 $space-x;
  text-align: center;
  text-transform: uppercase;
  em {
    color: $red-LD;
  }
}

#HAP-remix-helper {
  display: none;
  @include breakpoint(l) {
    display: inline-block;
  }
  .tpl--compact & {
    display: none;
  }
}