.HAP-helpers {
  @include position-top-right($space-x,0);
  z-index: 30;
}

.HAP-helper {
  border-radius: $radius-s;
  background: $shadow-weak;
  color: $mono-Wt;
  display: inline-block;
  float: right;
  height: 32px;
  line-height: 35px;
  min-width: 32px;
  margin-left: $space;
  padding: 0 $space-x;
  text-align: center;
}

#HAP-remix-helper {
  display: none;
}