/**
 * Sidebar
 * ============================================ */

.HAP-sidebar {
  @include fill-inverted;
}

.HAP-sidebar .search  {
  @include position-top-left(0,0);
  background-color: $mono-D;
  line-height: 0;
  width: 100%;
  z-index: 50;
}

.HAP-sidebar .HAP-listing {
}
.HAP-sidebar .listing__item {
  border-width: 1px 0 0 0;
  &:first-child {
    border-width: 0;
  }
}
.HAP-sidebar .tile__body {
  margin-left: 0;
}
.HAP-sidebar .tile__title {
  a {
    border: none;
  }
}