/*
  ===============================================
  # Quizzes
  ===============================================
*/

.quiz {
  @extend .page-copy;

  .quiz_container {

  }
  .question_container {
    @include reset(last, margin-bottom);
    margin-bottom: $space-h;
  }

  // Questions
  .question {
    @include set-type-large;
    margin-bottom: $line /2;
    h1 {
      @extend %h3;
      @include fill-inverted;
      @include set-size(40px,40px);
      border-radius: $radius-absolute;
      line-height: 40px !important;
      margin-left: auto;
      margin-right: auto;
    }
    img {
      width: 100%;
      display: block;
    }
    .videoembed {
      @include scale-embed;
      embed,
      iframe,
      object {
        @include scale-embed__el;
      }
    }
    p {
      // font-weight: $font-bold;
      margin-top: $line /2;
    }
  }

  // Answers
  .possible_answers {
    @extend .multiples--horizontal;
  }
  .correct_answer,
  .possible_answer,
  .wrong_answer {
    @extend .multiple__item;
    @include reset(last, margin-bottom);
    @include set-type-medium;
    cursor: pointer;
    display: block;
    list-style: none;
    margin-bottom: $space-x;
  }
  .possible_answer:hover {
    @extend %well;
  }
  .wrong_answer {
    color: $red-LD;
    font-weight: $font-bold;
  }
  .correct_answer {
    @include fill-green;
  }

  // Result
  .how_you_did {
    border-top: 1px solid $shadow-light;
    @include set-type-xlarge;
    padding: $space-s;
    margin-top: $space-h;
    text-align: center;
    .correct_answers {
      font-weight: $font-bold;
    }
  }
  .small {
    display: none;
  }
}

.quiz_container .question .hint {
  font-weight: bold;
}

/*more styling for answers*/

.quiz_container .revealed_answer p {
  font-weight: $font-bold;
}

.quiz_container .revealed_answer a {
  color: #E64522;
  border-bottom: 0 !important;
}

.quiz_container .revealed_answer a:hover {
  opacity: .75;
  text-decoration: none;
}

.quiz_container .hide {display: none;}
.quiz_container .show {display: block;}
.quiz_container .revealed_answer {
}

/*multimedia styling*/

.quiz_container img, .quiz_container .youtube {
  // min-height: 200px;
  // max-height: 200px;
}

.quiz_container .possible_answer img {
  max-height: 24em;
}

.quiz_container .question img, .revealed_answer img, .selected img, .correct_answer img, .wrong_answer img {
  max-height: 24em;
  display: block;
}