/**
 * Animate
 * ============================================ */

/* Pulse
----------------------------------------------- */

@-webkit-keyframes pulse {
  0%    { opacity: 0.3; }
  50%   { opacity: 0.7; }
  100%  { opacity: 0.3; }
}
@keyframes pulse {
  0%    { opacity: 0.3; }
  50%   { opacity: 0.7; }
  100%  { opacity: 0.3; }
}

/* FadeIn
----------------------------------------------- */

@-webkit-keyframes fadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}
@keyframes fadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

/* FadeOut
----------------------------------------------- */

@-webkit-keyframes fadeOut {
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}
@keyframes fadeOut {
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}
