/**
 * Masked Areas
 * ============================================ */

@mixin mask-v($height: 100%) {
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAEsCAQAAACoWRFeAAAAnUlEQVR4AZWSwarCMBBFJwcsYikuHmppFf3/n1KxFlpXWuVBhUbMJpvAODBcEuZwchfBOwQkY8jplvRrrjXNjuPhm21Fv+FR8FowZngCL4ZxgrcALqSPKwUQbVJ80Cp9TH5d6NIrvYD6nI1XgGhTeUP/hD+eY2r8Lx9GjGPyx6vGu4nZm/k/xcDfjbKlvrA/sT1TNaw68jvlExmR6QME/EFZymgACAAAAABJRU5ErkJggg==);
  -webkit-mask-attachment: fixed;
  -webkit-mask-clip: padding;
  -webkit-mask-origin: border;
  -webkit-mask-repeat: repeat-x;
  -webkit-mask-size: 1px $height;
}

@mixin mask-h($width: 100%) {
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAABCAQAAADOMVuiAAAAmElEQVR4AXVR0QrCMAxMmBREERRBi46J//9NU5yIbk9DRYq4CHkwhHp5KLkcl14SFqaCQjfrFrdYV8d9vTtV11U/f0xSkELIBxOuGLKMNRdFmv+wvoa9HvIWDPVs/b0jqPd8XrNOjHn/P+ZtPuTI+wf7g/Ph/YL5JPMu2f3ozy35E97j1/S+bNeXbVMeymZzju2ol2dMNHwBlMJMAjzSgfYAAAAASUVORK5CYII=);
  -webkit-mask-attachment: fixed;
  -webkit-mask-clip: padding;
  -webkit-mask-origin: border;
  -webkit-mask-repeat: repeat-y;
  -webkit-mask-size: $width 1px;
}