/**
 * Paints
 * ============================================ */

@mixin paint-default() {
  color: $color;
}

@mixin paint-invert() {
  color: $background;
}

@mixin fill-default() {
  background: $background;
  * {
    border-color: $mono-Lt;
  }
}

@mixin fill-invert() {
  background: $color;
  * {
    border-color: $mono-M;
  }
}