/**
 * Base
 * ============================================ */

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  @include fill-selection($blue-HL);
  @include set-type-medium;
  background: $background;
  color: $color;
  font-family: $font;
  * {
    @include box-sizing(border-box);
    border-style: solid;
  }
  &.clipped {
    overflow-x: hidden;
    overflow-y: visible;
  }
}

/* ********** DIRECTION DECLARATIONS ********** */

@if $direction == "ltr" {
}
@if $direction == "rtl" {
  body,
  body * {
    direction: rtl;
  }
}