/**
 * Base
 * ============================================ */

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  @include fill-selection($blue-HL);
  @include set-type-medium;
  background: $background;
  color: $color;
  font-family: $font;
  * {
    border-color: inherit;
    border-style: solid;
  }
  &.clipped {
    overflow: hidden;
  }
}

body * {
  @include box-sizing(border-box);
}