/**
 * Base
 * ============================================ */

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  @include paint-default;
  @include fill-default;
  @include fill-selection($blue-HL);
  @include set-type-medium;
  font-family: $font-family;
}

body * {
  @include box-sizing(border-box);
}